[2014-10-22 14:41] mashannon168 opened #11 "challenge- submissions- "NO THANK YOU" button lead to error"
1. Go to the page and login
2. Click on main menu : "Challenges/Challenges I created"
3. Click on first challenge on list witch type of "Wireframes"
4. Click on : "Submissions" tab
5. Click on : "I can not chose a winner" button placed in right down corner
6. Click "OK" in popup window with message
7. Click on : " DO NOT CHOSE A WINNER" button
8. Click "OK" in pop up window with message
9. Click o

[2014-10-23 20:29] mashannon168 opened #22 "[$50] In Enterprise Dashboard View All throws error"
1. Login to site
2. Tap Dashboard -> Enterprise
3. In Enterprise Dashboard, tap View All
4. Observe : Page throws error

[NOTE] no user without any project.

[2014-10-30 15:11] mashannon168 opened #38 "[$100] challenge detail - timeline section- Show start/end dates for all phases"
User Story:  As a challenge administrator, I may not understand that the set of start/end dates shown are only for the current phase, not for the entire challenge (this is especially true when the dates are shown for the first phase.)  Seeing all of the phase start/end dates (without having to hover or click on each phase) will give me a better understanding of the entire challenge lifecycle.

Req

[2014-12-05 15:00] mashannon168 opened #90 "Copyrights details and terms/privacy policy links on dashboard are showing different text color."
Go to qa.topcoder.com/direct/home.action.
- Get login
- Dashboard -- Enterprise verify copyrights and links text color.
- Open Start Project button and --- Go to bottom side of page and verify text color

[2014-12-09 21:25] mashannon168 opened #94 "Sort in challenge receipt page"
In receipt page

https://www.topcoder.com/direct/contest/receipt.action?projectId=xxx

we need to list payment types in this order

winner first, then copilot, review, reliability, bugs, DR, fee, then misc (anything else).

within each type, we sort by amount in descending order.

[2015-01-12 12:40] hohosky commented on #94
This should have been fixed in receipt page update - https://github.com/cloudspokes/direct-app/commit/dc43b8113b58a39ec3f71149ba420f94e2fa7ac0

[2015-01-12 12:40] #94 closed

[2015-01-12 15:09] hohosky commented on #22
This one has already been fixed.

[2015-01-12 15:09] #22 closed

[2015-01-13 13:09] hohosky opened #106 "Proper Padding and align for Direct Project Activities"
For the direct project activities in /direct/projectOverview?formData.projectId=<directProjectID>

Please give proper padding and align for each project activity, now they are squeezed together and the content has no padding with the border.

![image](https://cloud.githubusercontent.com/assets/35617/5721110/6c3af56a-9b68-11e4-9e0c-28b1e34a5488.png)

[2016-09-19 19:05] rootelement opened #145 "Challenge Specification in Markdown"
# Description

## Major Requirements
1. When creating a challenge, select specification type: "Rich Text" (default), or "Markdown"
2. If the Spec type is Markdown, utilize a markdown editor much like github where you can edit the spec and preview it.
3. Add a button to convert from one spec type to the other.  (See Question 1)
4. Update the frontend to parse the specification based on the specific

[2016-09-19 19:12] rootelement opened #146 "Scorecard Selection on Challenge Creation"
## Requirements
1. Add a "Description" to the scorecard object.
2. When you create a challenge, on the screen where you select your challenge type, there should be a dropdown of active scorecards for the selected challenge type, defaulting to the current default for that challenge type.
3. Next to, or beneath the dropdown for scorecards, the description should show up.  There should be a descripti

[2016-09-19 19:31] jswheeler opened #147 "All challenge types except f2f should have a Small, Medium, Large"
![screen shot 2016-09-19 at 2 29 08 pm](https://cloud.githubusercontent.com/assets/5068267/18646076/94a7f290-7e75-11e6-8d9d-92e7f45d5eff.png)

All challenges should have a Small, Medium, and Large selection for pricing. The prototype challenge currently has this capability after you select the challenge type, the next screen asks for requirements and then pricing near the bottom.

[2016-11-14 16:41] ajefts commented on #146
In progress:  https://www.topcoder.com/direct/contest/detail.action?projectId=30055620

[2016-11-14 16:46] ajefts commented on #145
In progress:  https://www.topcoder.com/direct/contest/detail.action?projectId=30055653

Starting to play around with how this will work...

[2016-12-15 21:26] #90 closed

[2016-12-15 21:27] #11 closed

[2016-12-15 21:28] #38 closed

[2016-12-16 02:54] ajefts opened #163 "Tasks - unable to lower prize"
If you save a draft task, you can't lower the prize. I believe it's triggering validation since the registration phase is closed.  It's a rule we have for active challenges.

![image](https://cloud.githubusercontent.com/assets/3812270/21250158/16326d7e-c311-11e6-89a7-c31ea7f2e308.png)

[2016-12-16 02:55] ajefts commented on #163
@skyhit Can you get this one fixed please?

[2016-12-16 03:05] skyhit commented on #163
@ajefts  so for draft challenge, we are allowing to lower the prize, but not for others

[2016-12-16 03:24] ajefts opened #164 "Allow user to easily launch task immediately"
Currently, you have to schedule the task start time for a given hour.  For tasks, can we allow the user to launch it immediately?

[2016-12-16 03:36] ajefts opened #165 "Tasks - set registration phase actual start and end time"
We need to set the actual start and end time on the registration phase record, otherwise the challenge pages still keep the register button active.

Let's set the actual start date to the fixed start date, and the actual end date to 1 second later.

[2016-12-16 03:42] ajefts opened #166 "Tasks - Assign Member picker"
Instead of a comma separated list, let's add a user picker.

[2016-12-16 03:44] ajefts opened #167 "Remove reviewer payment if Internal Review is selected."

[2016-12-16 04:25] ajefts commented on #163
Right.  I think it's probably just checking if the reg phase has started/ended and ignoring the challenge status.  If we add the challenge status into the logic I think we'll be ok.

[2016-12-16 04:30] ajefts opened #168 "Error when assigning F2F task to user with F2F profile stats"
tonyj [10:22 PM]
22:20:51,395 INFO  [STDOUT] Failed to get the user information for the userId 23,011,162
com.cronos.onlinereview.external.RetrievalException: Some parameters of RatingType.getRatingType() or RatingInfo.ctor() invalid.
    at com.cronos.onlinereview.external.impl.DBUserRetrieval.updateRatings(DBUserRetrieval.java:524)
    at com.cronos.onlinereview.external.impl.DBUserRetrieval.sel

[2016-12-16 05:40] skyhit commented on #163
@ajefts challenge launched - https://www.topcoder.com/direct/contest/detail?projectId=30055974

[2016-12-16 05:42] skyhit commented on #167
@ajefts the is a general logic for all regards less of private or public challenge?  are we going to setup the review payment separately? as for F2F challenge, copilot put much more effort for reviewing actually.

[2016-12-16 05:48] ajefts commented on #167
Ok. Skip this for now. Let me think through the logic some more.

[2016-12-16 18:12] ajefts commented on #146
This is released.  Does not have the nice description of the scorecard you were hoping for...

[2016-12-16 18:12] #146 closed

[2016-12-16 19:51] ajefts opened #170 "Improve timeline settings on F2F"
We currently set fixed end dates on registration and submission.  It makes the challenge registration, submission, and overall duration inaccurate.  Let's figure out how to clean this up so we can have accurate challenge durations recorded.

Suggestion:

Upon acceptance of the winning submission, set the end date for registration and submission to the date the review was completed.  Set the comple

[2016-12-16 19:54] ajefts opened #171 "Close task immediately"
Provide a shortcut experience for a user to be able to accept and close a task immediately either as successfully "Completed" or "Cancelled".

1. If the submissions are in and the task owner wants to review them, then they should follow the normal review scorecard process and let the challenge workflow run as it normally would.

2. Provide an option in Direct to "Cancel Task"
   - Update the statu

[2016-12-16 20:01] ajefts opened #172 "Check if tasks are flowing right into profile history"

[2016-12-18 01:14] ajefts opened #173 "Registration phase logic for tasks"
Please make sure the task registration phase logic isn't impacting other challenges.  I've seen 2 cases where the registration phase on active design challenges have changed after confirming checkpoint winners.

[2016-12-18 01:14] ajefts commented on #173
@skyhit Can you put this high on your list?

[2016-12-18 01:38] skyhit commented on #173
@ajefts sure, let me check

[2016-12-19 02:00] skyhit commented on #173
@ajefts for confirming checkpoint winners, you mean the registration phase is closed? looks like this is expected.

see https://github.com/appirio-tech/direct-app/blob/dev/services/contest_service_facade/src/java/main/com/topcoder/service/facade/contest/ejb/ContestServiceFacadeBean.java#L8595-L8763

[2016-12-19 02:03] skyhit commented on #171
@ajefts when there are more than one submission, how should we do for submissions? this seems also related to prizes setting.

[2016-12-19 02:10] ajefts commented on #173
But is it changing the dates now too? I noticed the phase dates were weird.

[2016-12-19 02:12] skyhit commented on #173
@ajefts this

check this

https://github.com/appirio-tech/direct-app/blob/dev/services/contest_service_facade/src/java/main/com/topcoder/service/facade/contest/ejb/ContestServiceFacadeBean.java#L8630-L8647

[code]

[2016-12-19 02:13] ajefts commented on #171
We should follow the rules of the challenge structure. So, if the task is completing as a success then we should require passing review(s). If we're failing it, then we can just mark it cancelled without completed reviews.   Let's start with that and then we can separately figure out if we want to be able to close a task to pay a member without a submission.

[2016-12-19 02:18] skyhit commented on #171
@ajefts no, I mean if there are two assigned submitters, and we only set a prize, and we didn't resolve the review scorecards, how can we determine the winner, by simply clicking the `Complete` button?

[2016-12-19 11:28] skyhit commented on #163
@ajefts I didn't my own investigation, the main reason is for F2F challenge, when it is in draft challenge, we already close the registration phase, maybe we should change this update when activate challenge.

the current logic is if any phase is open or closed, you can not lower the prize.

[2016-12-19 14:55] ajefts commented on #173
@skyhit I'm looking at the audit records for one of the challenges.  It didn't close it.  It actually seemed to adjust the times. I'm not sure if it's related, but we'll need to keep an eye on other challenges.  In this one case I'm looking at, it appears the registration end date changes from 12/19 to 12/27 immediately before the checkpoint review phase closed (when the checkpoint review was subm

[2016-12-19 21:26] ajefts commented on #163
@skyhit Can we add an exception for the tasks? If it's a task then ignore that validation?

[2016-12-20 17:08] ajefts opened #174 "Tasks v1"
Ability to launch F2F or Design F2F challenges as assigned tasks.

[2016-12-20 18:53] ajefts opened #175 "Tasks - rename "Private Challenge" labels to "Task""

[2016-12-20 19:22] ajefts opened #176 "Recompile and deploy saveDraftChallenge lambda function with latest component jars"
since the last update to Direct, we're getting class compatibility issues with the lambda function.  We need to rebuild the lambda function with the latest dependency jars.

Ideally, we should also be moving away from these tight dependencies and use REST when ever we can.

[code]

[2016-12-20 19:23] #173 closed

[2016-12-21 07:18] skyhit commented on #176
@ajefts I have updated the resource_management.jar for lambda repo, please check

[2016-12-21 16:34] #176 closed

[2016-12-21 16:48] ajefts commented on #171
@skyhit I updated the requirements on this one. Let me know what you think.

[2016-12-22 02:51] skyhit commented on #171
@ajefts looks good,I have drafted this challenge - https://www.topcoder.com/direct/contest/detail?projectId=30056015, please confirm to launch

[2016-12-22 03:10] ajefts commented on #171
Looks good

[2016-12-22 03:15] skyhit commented on #171
@ajefts ok, let's launch it

[2016-12-22 03:24] skyhit commented on #163
@ajefts here raises another question.

When can we mark a challenge private? if only in draft status, I think we should close the registration phase when doing activation, instead of the current logic when we mark/unmark the private flag.

what do you think?

[2016-12-22 03:38] skyhit commented on #170
@ajefts this should be something related to the auto-pilot, when update the challenge status to Completed, it should close all the existing open phases with the current date.

[2016-12-22 03:42] ajefts commented on #163
I think that's a good idea. It actually simplifies it and avoids hitting some validation rules in OR when trying to update the challenge.

[2016-12-22 03:43] ajefts commented on #170
Ok. Are you up to speed on making updates to OR? Want to run it?

[2016-12-22 03:49] skyhit commented on #170
@ajefts I can try to pick it up, not touch it for long time:)

[2016-12-22 03:56] skyhit commented on #163
so let's proceed? and we can still make the assign members logic, to add more members if the previous members can not complete.

[2016-12-22 03:59] ajefts commented on #163
Yes, please.

[2016-12-22 04:02] skyhit opened #177 "Only Allow Mark/Unmark Private When the launching or Challenge In Draft Status"
but the assignment for registrants should be still allowed.

[2016-12-22 20:17] ajefts opened #180 "Billing Account Management API"
Create a service and API for managing Topcoder billing accounts.

- This should be a new microservice (/v3/billingaccount)
- There is some existing code in the v2 api (https://github.com/appirio-tech/tc-api/blob/master/actions/platform.js) that is not being used and was never fully tested.  We will be replacing that.
- The actions that the API needs to handle are:
   - Create a new billing account

[2016-12-22 20:20] ajefts commented on #180
@skyhit Want to take this one?

I'd like to try running several smaller challenges to get this built:

- swagger challenge to define the interface (we'll use this to review with our team before implementing it)
- test case development
- environment setup (CI/CD).  make sure it's easy for members to work on, configuration is all set for different environments, build processes are setup, etc.
- impl

[2016-12-22 22:34] skyhit commented on #180
sure
ajefts <notifications@github.com>于2016年12月23日 周五上午4:20写道：

[2016-12-23 15:16] ajefts opened #183 "Validation error for assigned member when editing task"
![pasted image at 2016_12_23 09_56 am](https://cloud.githubusercontent.com/assets/3812270/21456791/ae6cf77a-c8f8-11e6-9286-0fcd05083a69.png)

I get this validation error when editing and saving a task.

I believe that when this happened, it also changed the review type from Internal to Community and assigned a different user to the review than was originally assigned.

[2017-01-06 15:18] ajefts opened #191 "Struts parameters not getting passed in some cases"
When calling the direct api for my and all challenges, the parameters are getting stripped.  This is likely due to the recent struts upgrade.

[2017-01-06 20:22] ajefts opened #192 "Task terms not validating correctly when activating"
When you save a task as a draft and have added a registrant, it is successfully validating if the user has agreed to the proper terms for the challenge.

However, if  you fill out the entire challenge and activate without saving as a draft, it silently does not add the registrant.

[2017-01-07 02:27] skyhit commented on #191
challenge launched for this - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30056100

[2017-01-07 02:28] skyhit commented on #180
spec creation challenge launched - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30056101

[2017-01-08 11:01] #191 closed

[2017-01-10 01:45] #171 closed

[2017-01-10 15:44] #175 closed

[2017-01-10 16:27] ajefts opened #196 "Upgrade Online Review libraries"

[2017-01-10 19:56] rootelement opened #197 "Display of Private Tasks on Frontend & Backend"
My last 3 month project had 4 challenges and had a long running GitHub Bug Bash for most of the development.  The project ended up having 60 Jira tickets to pay out members.  I know that a lot of people do this this way, essentially aggregating the issues fixed by a member over a week and paying all issues in one jira ticket.

In any view of a list of challenges, there should be a filter for priva

[2017-01-11 01:41] skyhit commented on #175
@ajefts did we rename the properly name in the backend? like currently it is "Private Challenge Status"

[2017-01-11 01:56] ajefts commented on #175
I just did the front end. Can you get the backend updated?

[2017-01-11 03:22] skyhit commented on #175
@ajefts ok, should we create a separate issue for tracking this.

[2017-01-11 15:24] aaabbott opened #198 "Error page shown when trying to create project from right side-menu"
## Description

When a user tries to create a project using the menu that is on the righthand side of of the screen, they are shown an JBoss error page.

[code]

## Steps to Reproduce
1. In Direct, view all projects.
2. Expand righthand side menu and select "Start Project" link
3. Observe

## Screenshots
![image](https://cloud.githubusercontent.com/assets/6266701/21854261/1e61b220-d7e8-11e6-9f36-9

[2017-01-11 15:27] ajefts commented on #198
@skyhit Can you take a look at this one please?  I'm guessing it's related to our struts upgrade.

[2017-01-11 16:12] ajefts opened #199 "Add/Remove Resources on Direct Project via API"

[2017-01-12 00:52] skyhit commented on #198
@ajefts yes, previously space is not raising problem, I think I reported before.

the url is looking like https://www.topcoder.com/direct/%20createNewProject.action

we need to remove the %20 in the formed url

[2017-01-12 00:53] skyhit commented on #199
@ajefts should we merge this first?

https://github.com/appirio-tech/tc-direct-project-service/pull/15

[2017-01-12 01:13] ajefts commented on #199
Yes. Let's get this into dev and see how it works.

[2017-01-12 23:47] #198 closed

[2017-01-16 18:28] rsial2 opened #202 "Payments in Direct through Tasks"
1. Created a task
2. Set review type to internal
3. On confirmation page, there is a review cost being shown even though it was set to internal:
![image](https://cloud.githubusercontent.com/assets/5807576/21994829/485a0520-dbe7-11e6-9ebd-db982b899859.png)

[2017-01-18 22:26] ajefts commented on #163
@skyhit Any update on this one?  It's becoming a pretty popular issue...

[2017-01-19 00:10] skyhit commented on #163
@ajefts sorry for ignoring it a long time, I will work on it today

[2017-01-19 01:17] ajefts opened #204 "Registration actual_start_date not set for closed tasks"
The registration phase actual_start date and actual_end_dates are not getting set when closing a task via Direct.  These should be set, otherwise it causes issues in OR.

[2017-01-19 01:18] ajefts opened #205 "F2F timeline updates"
Update the logic for F2F challenges so registration is closed (actual_end_date) when the submission passes review or when the challenge is closed if there is no passing review.

[2017-01-19 01:20] skyhit commented on #196
@ajefts this is related to struts2 upgrade?

[2017-01-19 01:42] ajefts commented on #196
yes

On Wed, Jan 18, 2017 at 8:20 PM, skyhit <notifications@github.com> wrote:

[2017-01-19 06:11] #163 closed

[2017-01-19 06:11] #204 closed

[2017-01-19 18:30] rsial2 opened #207 "Review Costs & Challenge Fees for Payment Tasks in Direct"
1. Create a F2F challenge.
2. Set it as a task.
3. The review cost will appear even though there is no reviewer.
4. The review cost will not appear in reporting - it's not being logged anywhere, so it's just a UI issue.
5. The challenge fee is including the review payment in it's calculation, but there is no actual review payment.

[2017-01-19 19:40] #202 closed

[2017-01-20 02:06] skyhit commented on #207
@rsial2 yes, that is just review cost estimation, if needed we can update the logic for review estimation calculation

[2017-01-20 02:57] skyhit commented on #192
@ajefts I was thinking about this, I think we should validate just when we enter the handles in the input box, instead of when saving or activating.  which mean it should be a separate logic.

[2017-01-20 02:59] skyhit commented on #164
@ajefts when activating a task, we set actual start date and end date for registration phase, and close it, will it start the submission phase?

[2017-01-20 03:00] skyhit commented on #177
@ajefts this should be implemented already.

[2017-01-20 03:00] #177 closed

[2017-01-20 03:01] skyhit commented on #183
@ajefts this is what need to be changed, the main reason is the user already registered.

[2017-01-20 06:24] skyhit opened #208 "Thought About Separating out scorecard tool"
the scorecard tool is not changed for long, but the direct build is always building it, I was thinking to separate it out.

I am thinking about the following steps.

1. figure out if we can run scorecard tool separately, looks like it is only depending on informix database.

for this we can try out to use this docker image to run - https://hub.docker.com/r/onesysadmin/grails/tags/

2. if it can be

[2017-01-20 06:24] skyhit commented on #208
@ajefts let me know your thought.

[2017-01-20 15:40] rsial2 commented on #207
I think we need to update it - but it's up to @ajefts

[2017-01-20 15:43] ajefts commented on #207
@skyhit Yes, let's do it.  If there is no reviewer on the task then let's remove the review cost estimate.  The key is that it doesn't get factored into the admin fee.  However, if a review is added, we need to make sure the review cost IS factored into the fee.

[2017-01-20 15:45] rsial2 commented on #207
So if it's set to community = add fee

If it's set to internal = no fee / no cost should appear

[2017-01-20 16:07] ajefts commented on #208
@skyhit I like the idea of separating it to it's own app and putting it behind accounts.topcoder.com.

Go for it, but please keep this as lower priority.

[2017-01-20 16:14] ajefts commented on #183
@skyhit I'm not sure I understand your comment...

[2017-01-20 16:16] ajefts commented on #164
Let's hold on this.  I think we're actually ok for now since you can set the start date to the current date (or earlier) for F2F

[2017-01-20 16:17] ajefts commented on #192
@skyhit I agree.  That would be better for sure.  What would trigger the validation?  Should we add a user picker at the same time?

[2017-01-20 17:15] ajefts commented on #180
@parthshah Any thoughts on how to model the "Org" concept here?

Right now we have client --> billing account --> users

Challenges are associated to billing accounts, which is what allows us to roll challenges up to clients.  Is the org really the client?

[2017-01-20 17:42] ajefts opened #209 "Add billable flag to billing account"
Let's add a flag to the billing account record to indicate if the challenges run within that account should be billed or not.

This should be added to the data model and the API.

[2017-01-20 19:58] ajefts opened #210 "Tasks v1.0"
Basic F2F task.  Assign member(s) to it.

[2017-01-20 19:59] #210 closed

[2017-01-22 05:48] skyhit commented on #209
@ajefts this is related to billing account management? if yes, I think we should move to https://github.com/appirio-tech/tc-billing-account-service

[2017-01-22 06:55] skyhit commented on #199
@ajefts I see you merged the PR, should we close this one?

[2017-01-22 06:55] skyhit commented on #196
branch created -
https://coder.topcoder.com/tcs/clients/cronos/applications/online_review/branches/upgrade_struts2

how should we do next?

[2017-01-23 15:44] ajefts commented on #180
Next steps here are to run challenges for the mock, tests, and actual implementation.

We'll add additional features after the first implementation.  First implementation will focus on current feature sets so we can get ourselves in a position to manage client and billing records without sfdc.

[2017-01-23 18:21] rsial2 opened #214 "Unable to Edit Task Payment"
If you enter a task payment and forget to assign it to a member, you're unable to edit it later:
![image](https://cloud.githubusercontent.com/assets/5807576/22216810/280dcc00-e166-11e6-97cd-1f1e050882e4.png)

If you go into OR, you're unable to add a user there as well.

[2017-01-23 18:25] ajefts commented on #199
not yet.  This is just in dev.

[2017-01-23 18:33] ajefts commented on #214
@skyhit Let's get a fix in for this one please.

[2017-01-23 18:38] ajefts opened #215 "Double payment fix"
I believe that if you hit close multiple times, it stages multiple payments.

Let's prevent that action if the task has already been closed. We can also remove the button after the task has been closed.

[2017-01-23 18:38] ajefts commented on #215
@skyhit This is one we need a quick fix for please.

[2017-01-24 15:22] skyhit commented on #215
@ajefts wired, this payment is actually set by API, we clear it for each clicking?

[2017-01-24 16:27] ajefts commented on #215
So, clicking Close more than once shouldn't be triggering any payments?  It's only AP that creates the payments?

What if AP closed the challenge, and then someone manually clicked the Close button?

[2017-01-25 05:05] skyhit commented on #192
@ajefts for terms, it is actually set for project level, not challenge level, right?

I would consider to have a user picker similar as skills in profiles, so a search suggestion for a list of members, and when selected, it will validate if user has terms and added to the select users.

I wondering if we can define some reusable component, which may fit for many cases.

[2017-01-25 05:23] skyhit commented on #207
@rsial2 @ajefts if the F2F challenge is not task, we still need to show the review cost as one iterative reviewer, right?

[2017-01-25 06:24] skyhit opened #216 "Refactor the Code To Reflect the Changes From "Private Challenge" To "Task""

[2017-01-25 07:03] skyhit commented on #216
challenge launched - https://www.topcoder.com/direct/contest/detail?projectId=30056276

[2017-01-25 14:16] #214 closed

[2017-01-25 14:16] #215 closed

[2017-01-25 16:43] ajefts commented on #207
Only if it's set to community review.  If it's an "internal review", then let's not include the estimate.  If it's something we end up paying for in an "internal review" scenario, then we can add that cost manually in OR for now.

[2017-01-25 16:50] ajefts commented on #192
Terms are set on the challenge level (common_oltp.project_role_terms_of_use_xref).  We're able to configure a billing account with terms so that every time a challenge is created with Billing Account A, it'll apply the terms to the challenge.

For the user picker, yes...I think it would be good to have a component we can reuse.  We have current user pickers to add copilots and users to projects, b

[2017-01-30 15:36] ajefts commented on #214
fyi @rsial2 This one is fixed.

[2017-01-30 22:01] ajefts commented on #168
@skyhit I found more details about this error.  It's getting hit more often now.  This class (https://coder.topcoder.com/tcs/clients/cronos/components/user_project_data_store/trunk/src/java/main/com/cronos/onlinereview/external/RatingType.java) is checking for Rating Type.  However, there is no setting for F2F (I assume since it's not rated), so it's erroring when it tries to add the submitter.

I

[2017-01-31 15:13] ajefts opened #218 "Error with Registration dates when closing tasks"
If you attempt to close a task in Direct and the registration scheduled and end dates are NOT in the future, the app errors complaining that the start date can't be greater than the end date.

The error gets raised on this call:  https://github.com/appirio-tech/direct-app/blob/master/services/contest_service_facade/src/java/main/com/topcoder/service/facade/contest/ejb/ContestServiceFacadeBean.java

[2017-01-31 15:14] ajefts commented on #218
fyi @skyhit  Let's put some priority on this one please.

[2017-01-31 15:17] #199 closed

[2017-02-01 01:59] skyhit commented on #218
@ajefts sure, I am on it

[2017-02-01 02:09] skyhit commented on #168
@ajefts I think it is fine

[2017-02-01 15:08] ajefts commented on #168
When you return, can you get that updated?

[2017-02-02 10:18] skyhit commented on #168
@ajefts sure, mainly I think we should adjust the logic here - https://github.com/appirio-tech/direct-app/blob/master/services/contest_service_facade/src/java/main/com/topcoder/service/facade/contest/ejb/ContestServiceFacadeBean.java#L9134-L9174

[2017-02-02 14:47] ajefts commented on #168
@skyhit What would change there?  Are you thinking of the other issue with the registration dates?

[2017-02-03 05:16] skyhit commented on #218
@ajefts sure, mainly I think we should adjust the logic here - https://github.com/appirio-tech/direct-app/blob/master/services/contest_service_facade/src/java/main/com/topcoder/service/facade/contest/ejb/ContestServiceFacadeBean.java#L9134-L9174

[2017-02-03 16:12] ajefts commented on #218
yes, I agree.  I don't think we should overwrite the scheduled dates for the phase if it's already complete.

[2017-02-03 20:19] ajefts opened #219 "Add challenge property for "product""
Add a property to the challenge model for "product_type".

[2017-02-03 20:52] rsial2 commented on #214
@ajefts & @skyhit, not able to edit an existing task:
![image](https://cloud.githubusercontent.com/assets/5807576/22608062/6952e26e-ea20-11e6-9e4a-b415b7ac73de.png)

[2017-02-03 20:52] rsial2 commented on #214
can you reopen this ticket?

[2017-02-04 00:42] skyhit commented on #214
@rsial2 what do you mean for an existing task, it is already closed?

[2017-02-04 00:44] skyhit commented on #219
@ajefts this is a new field?  what is the purpose for this property?

we just need to add a new field as a project property (challenge property)?

[2017-02-04 01:48] ajefts commented on #219
Right, just add a new project info value. We're starting to sell TopCoder services as products when we work with customers. For example, a prototype is packaged as a product.  The product has pricing, game plan templates, etc. We will be creating a separate entity for the actual product and related config. This property will simply tell us if the challenge is related to a specific product.

[2017-02-04 01:59] skyhit commented on #219
we can use this sql.

[code]

let me know if the `project_info_type_id` is unavailable.

[2017-02-04 15:42] rsial2 commented on #214
No the task was still open. No member was assigned when I created the ticket, and when I tried to edit the ticket after I created it, I was unable to add a value for "Assign Members"

[2017-02-08 14:53] #218 closed

[2017-02-10 04:48] skyhit commented on #167
@ajefts I think this is fixed, check https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30056445

[2017-02-10 18:40] ajefts commented on #167
ok, thanks.

[2017-02-10 18:40] #167 closed

[2017-02-10 21:21] ajefts commented on #219
in dev, we have 83 set to "PreRegister Users".  Are we still using that?

[2017-02-11 03:31] skyhit commented on #219
@ajefts no, it is not used anymore, please remove it, it is already updated in https://github.com/topcoder-platform/tc-database-scripts/blob/master/tcs_catalog/02_tcs_catalog_data_setup.sql

[2017-02-17 21:31] ajefts opened #224 "Remove Tasks tab under Projects view"

[2017-02-23 15:53] ajefts opened #225 "$0 prizes"
Update the logic when creating challenges in Direct to allow $0 prizes.  This is used for fun challenges and a few other use cases.  We should also update the validation in OR to allow for this.

Currently, if you set $0 prize on a challenge in Direct it looks like it simply does not create the prize records in the DB, which causes errors when editing/closing challenges/tasks.

[2017-02-28 02:59] skyhit commented on #225
@ajefts here is the challenge spec - https://www.topcoder.com/direct/contest/detail?projectId=30056660

and for online review, can we create a github repo similar as direct-app

[2017-02-28 09:43] sah2ed commented on #225
@skyhit I'm working with Tony to move Online Review from svn to a GitHub repo.

[2017-02-28 10:07] skyhit commented on #225
@sah2ed is it created?

[2017-02-28 10:14] sah2ed commented on #225
Not yet but we plan to host it at https://github.com/topcoder-platform

[2017-02-28 10:16] skyhit commented on #225
@sah2ed np

[2017-02-28 15:02] ajefts commented on #225
@skyhit Looks good.  Please launch

[2017-03-01 14:42] skyhit commented on #180
@ajefts let's close this since we have separate repo for billing account apis?

[2017-03-01 15:47] #180 closed

[2017-03-03 15:10] ajefts opened #226 "Update default pricing"
Update the default pricing config to match how we're selling.

This is the file to update:  https://github.com/appirio-tech/direct-app/blob/fee-changes/conf/contestFees.xml

[2017-03-03 15:11] ajefts commented on #226
@jswheeler Please make you're updates and then I'll review and merge it in.  Thanks.

[2017-03-03 17:09] adroc-tc commented on #226
I updated the current file with my updates - If we can add 3rd place great - if not just use 1st/2nd place.

Default Prizes
**Logo**
1) 700
2) 300
3) 150

**Wireframes**
1) 1300
2) 550
3) 150

**Widget or Mobile Screen Design**
1) 1300
2) 550
3) 150

**Web Design**
1) 1700
2) 800
3) 250

**Application Front-End Design**
1) 1700
2) 800
3) 250

[-.js.zip](https://github.com/appirio-tech/direct-app/f

[2017-03-10 18:16] ajefts commented on #219
@skyhit Was the api updated to be able to set and get this attribute?  Can we add it?

[2017-03-10 18:17] #225 closed

[2017-03-10 19:43] #209 closed

[2017-03-12 01:57] skyhit commented on #219
@ajefts you want this be supported in direct app side or in challenge api?

[2017-03-12 03:04] ajefts commented on #219
Both please. Let's add a field to direct only for TopCoder admins.

[2017-03-12 09:22] skyhit commented on #219
@ajefts sure I can add this, just not sure the complete purpose for this change, as this is more lated to project scope.

[2017-03-13 14:39] rootelement opened #229 "Number of Reviewers Reverts when Editing Spec Draft"
Steps to Reproduce
1. Create a code challenge in Draft - it should show 0/2 reviewers
2. Open Online Review
3. Add a reviewer and click save - in direct it should show 1/2 reviewers
![reviewers1](https://cloud.githubusercontent.com/assets/5400156/23859217/491ce504-07d9-11e7-98fe-db546dd92a59.PNG)
4. Go back to Online Review
5. Change the reviewers from 2 to 1 and click Save
6. Refresh the challeng

[2017-03-13 14:42] ajefts commented on #197
#1 is covered by hiding tasks that are assigned.

[2017-03-14 19:46] rsial2 opened #230 "Add "Task Payment" Checkbox"
1. In addition to the "Task" checkbox, please add a "Task Payment" checkbox.
2. If checked, it should skip over everything that is not required for a task payment, such as technology, requirements doc, etc.

[2017-03-14 20:49] ajefts opened #231 "Validation update for project name and description"
The validation on the project name and description is a bit too strong.  We need to make it match the validation on the connect project name/description.  Connect allows any text, and just escapes js/html/etc.

[2017-03-14 20:49] ajefts commented on #231
@skyhit Mind getting this one done?

[2017-03-15 02:22] skyhit commented on #231
@ajefts sure, where can I see the validation on the connect project name and description?

[2017-03-15 02:39] skyhit commented on #219
challenge launched - https://www.topcoder.com/direct/contest/detail?projectId=30056829

[2017-03-15 15:08] ajefts commented on #231
It allows any characters. It just makes sure to prevent any kind of injection.  Do we have some kind of filter that we can use for text fields?

[2017-03-15 22:57] ajefts commented on #231
@skyhit Can you run something for this quickly?  We hit it pretty often when creating projects from Connect since the API calls fail...

fyi @fnisen @parthshah

[2017-03-15 22:59] ajefts commented on #231
@skyhit Let's also make the description optional in the API

[2017-03-16 01:17] skyhit commented on #231
@ajefts I will get this ready as quickly as I can

[2017-03-16 01:34] fnisen commented on #231
Thanks @ajefts and @skyhit

[2017-03-16 03:26] skyhit commented on #231
@ajefts I checked the implementation of API, the description can be optional, there is no strict validation for that

[2017-03-17 09:47] skyhit commented on #231
@ajefts PR created, please merge,  test and release

[2017-03-17 17:09] rsial2 opened #235 "Input Field for New Technologies / Platforms"
1. When selecting a tech or platform from the list picker in direct (when creating a new challenge), there's now way to add new tech or platforms.
2. Request: add an input field under both sections to allow for users to add new tech / platforms on the fly.

[2017-03-23 20:34] #219 closed

[2017-03-28 00:11] #231 closed

[2017-04-03 19:56] ajefts opened #241 "Design challenge registration phase end date"
Set the end date for registration to be equal to the end date of the checkpoint submission phase if the challenge is a design challenge.

[2017-04-03 19:57] ajefts commented on #241
@skyhit Can you get this updated in Direct please?

fyi @adroc-tc

[2017-04-04 00:29] skyhit commented on #241
@ajefts @adroc-tc ok, what if there is no checkpoint submission phase?

[2017-04-04 01:36] adroc-tc commented on #241
1-Round challenge Registration is open the entire Submission Phase
2-Round Challenge Registration is only open during Checkpoint Phase

[2017-04-04 06:21] skyhit commented on #241
challenge launched - https://www.topcoder.com/direct/contest/detail?projectId=30057097

[2017-04-05 07:04] skyhit commented on #241
@ajefts @adroc-tc code change is ready - https://github.com/appirio-tech/direct-app/pull/242

[2017-04-06 20:02] #241 closed

[2017-04-06 20:03] ajefts opened #246 "First to Finish End Date"
Update the config so that F2F is 10 days instead of 30.

[2017-04-06 20:04] ajefts commented on #246
@skyhit Mind updating this one?

[2017-04-06 23:46] skyhit commented on #246
@ajefts do we need to update for Design F2F?

[2017-04-06 23:50] ajefts commented on #246
Yes, please.

[2017-04-07 00:46] skyhit commented on #246
@ajefts please check https://github.com/appirio-tech/direct-app/pull/247

[2017-04-18 14:43] mcards13 opened #248 "Billing Status should use the status field and end date"
Currently, if a billing account end dates is in the past, the billing account will not be displayed for usage inTC Direct.

There is also a status on the billing account itself in the time_oltp project table.    The status should be used as well.

If the billing account status = 0, the billing account should be inactive and not allowed to be used.  This indicates the billing account is inactive de

[2017-04-20 21:04] ajefts opened #249 "Add ability to set end date on F2F and Design F2F"

[2017-04-24 02:07] skyhit commented on #248
@mcards13 @ajefts which page is it related to?

[2017-04-24 14:55] ajefts commented on #248
@skyhit This is when you Edit a project and select a billing account for the project.

[2017-04-27 02:08] skyhit commented on #248
@ajefts the table is a bit confusing

[code]

which field is usef for status, I can see `active`, `project_status_id`, `is_deleted` is used for this purpose.

[2017-04-27 02:53] skyhit commented on #249
@ajefts do you want to work on this?

[2017-04-27 16:41] ajefts commented on #249
Yes, please. Let's actually make it generic so Admin and copilot can set the registration and submission end dates on any challenge type.

[2017-04-27 17:31] #248 closed

[2017-04-27 17:33] ajefts commented on #248
It's the active column.  0 or 1.

[2017-05-02 02:51] skyhit commented on #246
closed

[2017-05-02 02:51] #246 closed

[2017-05-08 01:50] skyhit opened #257 "The logic for refreshCache is out-date"
see DirectUtils.refreshCache
CacheClearer.removelike try to connect to tc-cache instead configurable cache

[2017-05-16 08:03] skyhit commented on #208
it is done

[2017-05-16 08:03] #208 closed

[2017-05-17 19:36] ajefts opened #260 "Design challenge forum permissions"
Currently, design challenge forum permissions are set different than dev forum permissions.  Let's make the design permissions match what we do for dev.

[2017-05-25 21:50] rsial2 opened #267 "Dashboard Not Showing SRM's correctly"
Today is 05/25, but the dashboard indicates that it "starts in 5 days", but the date presented is 05/20.

![image](https://cloud.githubusercontent.com/assets/5807576/26472096/3864202c-416a-11e7-962d-971c7d95732a.png)

[2017-05-25 23:37] ajefts commented on #267
Moved to https://github.com/appirio-tech/topcoder-app/issues/1199

[2017-05-25 23:37] #267 closed

[2017-06-01 20:17] ajefts opened #271 "Task assignment to group member"
If I create a challenge and assign group(s), then the task assignee should be limited to members in the groups.  ideally, let's change the control to a type ahead dropdown.

[2017-06-09 16:56] ajefts opened #273 "Update technology list"
https://docs.google.com/spreadsheets/d/1Yz6wJ8rL2-oKI98pxCB4CW1pdlOGH5EGPVtEFyKy1wk/edit#gid=1775843592

[2017-06-09 16:57] ajefts commented on #273
fyi @rootelement

[2017-06-21 14:52] skyhit opened #275 "Use magicsuggest to simplify the UI for technologies and platforms selection"

[2017-06-21 14:53] skyhit opened #276 "Use autocomplete widget for task assignees"
use this api - https://api.topcoder.com/v3/members/_search/?query=MEMBER_SEARCH&handle=fire&offset=0&limit=10

[2017-06-23 13:28] ajefts commented on #224
@skyhit can you run a little challenge for this?  I basically want to remove the old task features that are in Direct.  They aren't used, and are beginning to confuse new users as we talk about "tasks".

[2017-06-23 17:56] #196 closed

[2017-06-23 17:59] #164 closed

[2017-06-25 12:54] skyhit commented on #224
@ajefts challenge launched - https://www.topcoder.com/direct/contest/detail?projectId=30058107

[2017-07-10 23:20] skyhit commented on #275
done

[2017-07-10 23:20] #275 closed

[2017-07-12 07:37] skyhit commented on #271
challenge launched https://www.topcoder.com/direct/contest/detail?projectId=30058351

[2017-07-12 07:38] skyhit commented on #166
duplicated with #271

[2017-07-12 07:38] #166 closed

[2017-07-12 07:39] skyhit commented on #276
duplicated with #271

[2017-07-12 07:39] #276 closed

[2017-07-12 07:39] skyhit commented on #271
will use api like https://api.topcoder.com/v3/members/_search/?query=MEMBER_SEARCH&handle=fire&offset=0&limit=10

[2017-07-18 20:46] #249 closed

[2017-07-18 20:47] ajefts opened #285 "Remove validation that prevents lowering prizes"
Currently, Direct does not allow you to lower a prize on a challenge.  Let's allow it for challenges that have not launched yet. i.e. if it's a draft or its active but registration has not yet started.

[2017-07-18 20:48] #224 closed

[2017-07-20 13:50] skyhit commented on #285
@ajefts challenge launched - https://www.topcoder.com/direct/contest/detail?projectId=30058442

[2017-07-20 20:21] mahestro opened #286 "Can't Save Checkpoints Anymore"
Hey old pal @skyhit :)

Someone told me to poke you for help (blame on Tony). I have several challenges where the checkpoint phase has to be done manually in OR because it’s not working in Direct anymore. When you are in the checkpoint confirmation screen and click on « save checkpoint », it throws a strange message « * Enter your feedback above » in spite of having already entered text.

http://t

[2017-07-21 00:46] skyhit commented on #286
@mahestro we need to have a way to reproduce it, is there any easy way?

[2017-07-21 05:44] mahestro commented on #286
@skyhit, I understand. Today, in about 2h I'll be processing another checkpoint feedback for a challenge. Once I load the information in Direct I can let you hit the confirm button so you can reproduce the error. Would that work?

[2017-07-21 09:04] skyhit commented on #286
@ajefts worked with @mahestro to reproduce it, looks like it is a backend problem to save general feedback, can you check the logs to see what happens?

[2017-07-21 13:37] mahestro opened #288 "Challenges I Created Page Not Working"
Hey guys,

I used this page a lot and it hasn't been working for quite long. Is it possible/easy to bring it back?

- http://take.ms/jGOhM
- http://take.ms/PEvtZ

Let me know if you need anything from me to help reproducing the error.

[2017-07-21 13:52] skyhit commented on #288
@mahestro  @ajefts just discussed with me about this, are you reporting to him?

[2017-07-21 14:02] skyhit commented on #285
@ajefts changes commited in dev branch

[2017-07-21 18:53] mahestro commented on #288
No, I just got excited of the fact that I could report Direct issues and reported this. I didn't mention it to Tony.

[2017-07-24 02:42] #286 closed

[2017-07-24 12:01] mahestro opened #290 "Submissions Not Available For Download"
Hey,

It happens to me that after certain time files become unavailable for download. Is that an expected behaviour?

Check the link below and try to download any submission, either here or OR, not available:

https://www.topcoder.com/direct/contest/submissions.action?projectId=30056929&formData.viewType=GRID&formData.roundType=FINAL

[2017-08-03 17:09] ajefts opened #292 "Add ability to set alternate prize types"
Points
bitcoin
t-shirts
etc.

[2017-08-04 14:11] ajefts opened #293 "Bug when setting reviewers and review type"
When editing a challenge, you can't update the reviewer.  The review type also always shows community review, even when it's set to internal.

![image](https://user-images.githubusercontent.com/3812270/28972322-467fab2a-78fd-11e7-8f28-8ef41a25c2f0.png)

[2017-08-08 02:40] skyhit commented on #292
if you check https://github.com/topcoder-platform/tc-database-scripts/blob/dev/tcs_catalog/02_tcs_catalog_data_setup.sql#L1047-L1061, we support different prize type, and there is another prize table for storing the configuration of prize, I think what we need to do is

1. in Direct App, make it possible to choose from different prize type to set to a challenge
2. After completion, the system can

[2017-08-09 20:47] ajefts opened #295 "Check group permissions when adding challenge resources"
When you add resources to a challenge that is restricted to a group, it doesn't currently let you do it since the legacy apps (OR, /tc) check user_group_xref instead of the new group api.  We need to update the apps to check groups against the new api.

So far, I've noticed this when adding resources via OR and also on the reviewer registration pages.

[2017-08-14 02:02] skyhit commented on #285
@ajefts this is completed.

[2017-08-14 02:02] #285 closed

[2017-08-14 02:04] skyhit commented on #271
@ajefts the type ahead dropdown is already supported, but in order to filtering by groups, is that mean, if the groupIds present, we should use the groups APIs instead, is there a endpoint for group users, but I think the is limited to be access for authorized user?

[2017-08-14 02:21] skyhit commented on #293
@ajefts is it because of active challenge?

[2017-08-18 17:00] dmessing opened #306 "saving scorecards"
Every time you save a code challenge it defaults to architecture scorecard and saves it.  This is time consuming an issue.

here is a screencast issue: https://www.screencast.com/t/0D4VsGne4X

[2017-08-18 17:02] dmessing opened #307 "scorecard drop down on direct"
Looks like when you edit a challenge you can't scroll in the scorecard drop down.   I believe the top of the dropdown falls under the Z level of the top navigation bar.

One small fix might be to deactivate a bunch of scorecards we have over 50 review scorecards currently.  Maybe @rootelement can help give us a list to be deactivated?  If we deactivate a bunch we can postpone the bug fix if need b

[2017-08-18 17:06] dmessing commented on #307
Here is a list of all active scorecards we can update this list

https://docs.google.com/spreadsheets/d/1v6xHJa_rXY1gxRPsi7Q9G7dueOIVQ8TtwF1AHlkAiuM/edit#gid=0

[2017-08-18 17:27] dmessing commented on #306
close #306

was a problem with scorecard creation.

[2017-08-18 17:27] #306 closed

[2017-08-19 02:15] skyhit commented on #307
@dmessing should we fix the list or the dropdown?

[2017-08-21 20:39] ajefts commented on #307
@skyhit Let's fix the dropdown.  We can also clean up the data, but the dropdown should work either way.

[2017-08-22 13:30] ajefts opened #309 "Limit filters on reports"
Limit the time range that can be set on https://www.topcoder.com/direct/dashboardBillingCostReport.action

Let's limit it to 90 days max.

[2017-08-24 04:12] #307 closed

[2017-08-24 04:13] #273 closed

[2017-08-24 04:14] ajefts commented on #271
yes, you need to be authorized to access it.  Are we able to do this now?

[2017-08-24 04:38] #288 closed

[2017-08-24 05:20] rootelement commented on #307
@ajefts I don't understand. This is closed? Was it fixed? Was there a Pull Request? Usually you link the Pull Request to the issue.. "fixes # 307" (no space) and it close the issue automatically.

[2017-08-24 06:40] skyhit commented on #307
@rootelement it is fixed by #308 , do you still see the problem?

[2017-08-24 13:43] rootelement commented on #307
Now I see it since the PR #308 was edited. Thanks @skyhit. I will test it out.

[2017-09-06 18:55] ajefts commented on #293
@skyhit that challenge was active, but shouldn't we still be able to edit the reviewer and review type if the Review phase has not yet started and there are not reviewers set yet?

[2017-09-06 18:57] ajefts commented on #271
@skyhit What do we need to move forward with this one?

[2017-09-06 18:59] ajefts commented on #295
@skyhit I'd like to get moving on this one.  Can you run some challenges to make sure we're validating group membership correctly in OR?

[2017-09-08 23:52] skyhit commented on #271
@ajefts can we decide the flow?
1. if no group select, it will use the general user suggestion?
2. if a group selected, it will call the group users api?
3. what if no group selected, and chosen some users, then select a group, should we clean up the previou user selections, which may not in the select group.

[2017-09-08 23:54] skyhit commented on #295
@ajefts his is related to update for OR, am I right?

[2017-09-09 01:05] ajefts commented on #295
That's correct.

[2017-09-09 01:07] ajefts commented on #271
Yes. The flow you describe is correct. For 3, we should alert the user that if they set the new group then the assignee will be removed.

[2017-09-11 00:34] skyhit commented on #271
@ajefts another problem, since the group members api, only querying for one group a time, so we need to call several times if we defines multiple groups for a challenge, also there is no logic for suggest based on the entered user info.  how should we deal with this case

[2017-09-11 01:04] huangqun commented on #271
@skyhit so do you need further updates made to the groups api? If so could you provide specific details?

[2017-09-11 01:09] skyhit commented on #295
@ajefts please confirm to launch - https://www.topcoder.com/direct/contest/detail?projectId=30059281

[2017-09-11 02:28] skyhit commented on #271
@ajefts @huangqun here is my undersanding,

1. for the get members by group api, it is not returning any info about handle, but user id, so in order to enrich it, special processing is required for in direct app, before supporting type ahead.
2. for the get members by group api, we need to call several time and union the members in direct app.

that is said, we need to provide a sepcial endpoint i

[2017-09-11 03:29] skyhit commented on #293
@ajefts yes for that case, it is possible, so you want to do like that way?

[2017-09-11 15:11] ajefts commented on #293
yes, please

[2017-09-11 15:13] ajefts commented on #271
@skyhit What exactly will the endpoint you're suggesting do?  Are you thinking we should have that as part of the group service?

[2017-09-11 15:19] ajefts commented on #295
confirmed.

[2017-10-03 17:19] ajefts opened #320 "Group gets unset when editing challenge"
If the challenge has a group set, and someone edits the challenge that does not have access to the group...then the group is unset from the challenge.

The group should not get removed.  It should be a read only field in such cases.

[2017-10-16 14:08] #320 closed

[2017-11-03 19:33] ajefts opened #336 "Design forums should be private until you register"

[2017-11-21 02:12] skyhit commented on #336
@ajefts this is related to challenge detail api (v3)?

[2017-11-21 02:29] skyhit commented on #295
this is completed.

[2017-11-21 02:29] #295 closed

[2017-11-21 02:30] skyhit commented on #271
closing as it is implemented.

[2017-11-21 02:30] #271 closed

[2017-11-21 17:33] ajefts commented on #336
No, it's actually the form permissions that are set when the forums are created.  Our logic for dev challenges is that they are private until you register.  We want to make design behave the same

[2017-11-22 00:29] skyhit commented on #336
will it be general settings for design forums?

[2017-11-22 02:00] ajefts commented on #336
You mean will it be the default for all design forums?  Yes.

[2017-11-22 02:19] skyhit commented on #336
@ajefts I mean if it is a default setting for studio forums, I checked the Forum creation logic, there is nothing related to make the forum public or private.

[2017-11-22 02:22] appirio-jenkins commented on #336
Oh. Maybe. I'll check in the forum admin tool.

[2017-11-28 22:23] ajefts opened #339 "Invoice feature broken"
When trying to set the invoice flag on a row in the Competition History report, we're seeing this error:

![image](https://user-images.githubusercontent.com/3812270/33347405-bf325c20-d460-11e7-8d5d-263b6e71f784.png)

[2017-11-28 22:23] ajefts commented on #339
@skyhit We'll need to put this one on the short list...

[2017-11-29 00:02] skyhit commented on #339
@ajefts looks like we need to update the comman group to remove the query related to invoice for JIRA

[2017-11-29 00:33] ajefts commented on #339
is that something I can do in the query tool?

[2017-11-29 00:38] skyhit commented on #339
check here - https://github.com/appirio-tech/direct-app/pull/337/files#diff-d655b1ea81fee840c080a7e37f721136L6535

1. jiraids is never required.
2. also tc_direct_jira_invoice qyery is no longer needed.

not sure this is related, and can do in query tool

[2017-11-29 08:39] sushilshinde opened #341 "Association with match round id break the direct challenge summary page"
If I associate match round id with direct MM challenge after saving it breaks the summary page.

![topcoder direct](https://user-images.githubusercontent.com/683231/33365637-df54ceb2-d50e-11e7-9d8f-5b3935ae2086.png)

[2017-11-29 16:15] ajefts commented on #341
@skyhit This is functionality we built several years ago.  I think you may have been involved.  For MM challenges in Direct, it used to pull in and display info about registrants, submissions, scores, etc.  Something over the years broke it, and we'd like to restore it.

[2017-12-01 01:08] skyhit commented on #341
@ajefts @sushilshinde ok, I will look into that

[2017-12-07 18:20] wdprice opened #342 "Multiple Prize Placements for Bug Hunts"
QAAS Products all utilize multiple prize placements. Currently OR/Direct by default only support a single prize placement and we are forced to put text in the spec explaining the payout structure. Default placements should be 3 for bug hunts.

[2017-12-07 21:15] ajefts commented on #342
@wdprice Are you going to continue to use the "Bug Hunt" challenge type?  Or more towards a "Code" challenge that is tagged with QA/Bug Hunt/etc.?

In the short term, if you're using the Bug Hunt type you can still add the additional prizes in OR:

![image](https://user-images.githubusercontent.com/3812270/33739097-ca06dca6-db69-11e7-99fe-5267eefb76f7.png)

Note:  Yes, if you update the prize sect

[2017-12-12 18:30] ajefts commented on #336
@skyhit coming back to this....

I don't see anything specific in the jive admin tool for this.  For dev forums, we add groups to the forum and then add people to the groups for each challenge forum.  For design, it seems we don't do that.

Do you see anything like that in the code?

![image](https://user-images.githubusercontent.com/3812270/33901680-93fbf2f6-df40-11e7-9c07-a3c461d5c21b.png)

[2017-12-13 07:43] skyhit commented on #336
@ajefts I saw statement like `Permissions: Permissions can be set globally (across all forums), at the category level or at the forum level. To set them globally, click on the Global Settings tab. To set permissions at a category or forum level, click on the appropriate category or forum under the Content tab.`

[2017-12-13 14:29] appirio-jenkins commented on #336
Right.  But I don't think that helps us to add/remove specific members from
the forum like we do in dev.  I can set the global permissions so only
admins can see the design challenge forums, but then we also need to
add/remove people when they are added to the challenge...

On Wed, Dec 13, 2017 at 2:43 AM, skyhit <notifications@github.com> wrote:

[2017-12-21 15:39] sushilshinde opened #345 "Need drop-down on direct for MM challenge"
As part of the MM-Direct integration, we need to identify MM challenge as Classic or Banner.  Add drop down to the create a form with two values.

1. Classic
2. Banner

It will be only stored in projects database. Create new project_info_type for this and use project_info to store the value.

[2017-12-29 02:16] skyhit commented on #345
done

[2017-12-29 02:16] #345 closed

[2018-01-02 08:34] sushilshinde opened #350 "Style need to match"
Testing - https://www.topcoder-dev.com/direct/launch/home

Dropdown style needs to match to other dropdowns

![topcoder direct](https://user-images.githubusercontent.com/683231/34478224-cabe8b56-efc5-11e7-98ce-762f600a9735.png)

FYI... @ajefts

[2018-01-02 08:56] skyhit commented on #350
@sushilshinde @ajefts there is a deployment issue for direct app, I think the static files are not deployed

[2018-01-02 13:32] sushilshinde opened #351 "MM - Direct - Impliment "Registrants" and "Submissions" tabs"
Testing - https://www.topcoder-dev.com/direct/contest/detail.action?projectId=30051440

_Issue mentioned by - @ajefts_

We need the challenge to implement "Registrants" and "Submissions" tabs like dev and design tabs(separate). We can treat this as an issue after we deploy the current change.

[2018-01-04 06:00] skyhit commented on #350
@sushilshinde the problem should be fixed in dev, please check

[2018-01-04 09:55] sushilshinde commented on #350
@skyhit yes it is fixed, so closing

[2018-01-04 09:55] #350 closed

[2018-01-31 06:23] sushilshinde opened #361 "Production issue - Static contents not deployed"
Style isn't applied here

![static contents](https://user-images.githubusercontent.com/683231/35608048-4dd0bc62-067d-11e8-815c-4813b6ef4ddf.png)

[2018-01-31 06:25] sushilshinde opened #362 "Production issue - Can't Submit the challenge"
On submit challenge

![js_bug](https://user-images.githubusercontent.com/683231/35608069-702dd2a4-067d-11e8-8f78-79e6cf14d96b.png)

[2018-01-31 06:37] sushilshinde commented on #361
Not a bug

[2018-01-31 06:37] #361 closed

[2018-01-31 06:37] sushilshinde commented on #362
Not a bug

[2018-01-31 06:38] #362 closed

[2018-02-06 21:50] ajefts opened #363 "Set points on a challenge"
Restore the ability to set points on a challenge in Direct.  This is basically what we used to do for DR points, but we won't call them DR points...

We can reuse the old DR points fields if that makes it easier.

We'll potentially need to show/hide this feature per community (topgear vs public vs blockchain vs etc).  Let's discuss this part...

[2018-02-06 21:54] ajefts commented on #363
@cwdcwd This is one that we need to get on the roadmap. First usage of it will be on topgear.  The more generic approach/concept is really being able to support different prize types, so let's chat about the approach.  Might be a short term/long term type of thing...

[2018-02-09 15:23] RiteshTC opened #364 "Clicking on Project Name Game Plan Gantt Chart Throws a Server Error"
Steps
1. Create a new project. Add yourself to the project with full privileges. Do not create any challenge in the project
2. Click on Menu Item Game Plan
3. Click Game Plan Gannt
4. Click on the Project Name on Gantt Chart.
5. A server side error page is displayed
HTTP Status 404 - There is no Action mapped for namespace [/] and action name [erview] associated with context path [/direct].
<img w

[2018-02-09 16:00] ajefts commented on #364
@skyhit This isn't critical, but next time we do a Direct update can you please fix this one?  Thanks.

[2018-02-10 15:16] skyhit commented on #364
@ajefts ok, I will check

[2018-02-11 18:39] RiteshTC opened #365 "Assigning a User to a private Task raises an error"
The following error message is received when assigning Private Task to a member.
"Warning:"
"These members fail to register"
"<handle> - Can't register this user"

[2018-02-12 05:45] skyhit commented on #365
@RiteshTC can you provide the detail steps?  we used the private task func a lot, but never see this problem

[2018-02-12 17:52] RiteshTC commented on #365
Occurred on Saturday, 2 persons reported the same error.
There is no extra ordinary steps, just the same creating a challenge and assigning it to the user.

[2018-02-13 05:40] RiteshTC opened #366 "Change "Cockpit" to "Direct" in Email Template"
Change the text from Cockpit to Direct in the email Template that goes out when challenge phases are completed.

<img width="660" alt="issue" src="https://user-images.githubusercontent.com/5771673/36135045-8ae8738e-10ae-11e8-8b4c-8eed5853f3c3.png">

[2018-02-14 06:14] skyhit commented on #365
I created this task - https://www.topcoder.com/direct/contest/detail?projectId=30062908 without any problem.

the assignment is related to when creating of the private task, or editing the private task?

[2018-02-14 06:26] skyhit commented on #366
@RiteshTC this is related to Online Review system

[2018-02-14 06:36] RiteshTC commented on #366
@skyhit can you please move it to the correct repo or provide me the url for the repo ?

[2018-02-14 06:57] RiteshTC commented on #365
It was reproducible both during creation and edition.
I think the issue might be  related to temporary glitch in  Elastic Search in Production.
Do you know, what might have caused this ?

[2018-02-14 07:16] skyhit commented on #366
@RiteshTC similar like this - https://github.com/topcoder-platform/tc-online-review/blob/dev/conf/templates/iterative_review/end.txt, may be  we used a updated version in production.

[2018-02-14 09:10] RiteshTC commented on #366
Thanks @skyhit . I have created a new issue to track
https://github.com/topcoder-platform/tc-online-review/issues/16

[2018-02-14 09:10] #366 closed

[2018-02-14 20:27] ajefts opened #367 "Update S/M/L amounts in config"

[2018-02-16 08:18] skyhit commented on #365
@RiteshTC for challenge creation or editing it is not working with ElasticSearch in Production at all.

is there any more information to be reproduced?

[2018-02-19 13:03] #364 closed

[2018-02-19 13:09] skyhit commented on #364
@RiteshTC the issue is fixed in dev branch, and you can verify in dev environment.

[2018-02-20 01:52] skyhit commented on #363
@ajefts @cwdcwd in the prize table, we support final prize and checkpoint prize why not extend it by supporting new types of prizes.

then it is more related to displaying and aggregating different type of prize in the user profile.

[2018-03-08 08:43] JayaDhaka opened #369 "Unable to decrease default value of prize amount for Design First 2 Finish Challenge"
Description
User is unable decrease the default amount of prize for a Design First to Finish challenge

Steps to reproduce:

1. Created A new  project
2. Create a new challenge of type Design First to Finish.
3. Check the default amount is $200
4. Save project.
5.Edit the amount to set it as $50
6.An error is received  The prizes cannot be decreased.
![image](https://user-images.githubusercontent.

[2018-03-08 11:58] skyhit commented on #369
@ajefts I remembered we already did that, right?

[2018-03-10 04:18] RiteshTC commented on #365
Closing the case, as no other user has reported the issue. The cause of issue is still unknown.

[2018-03-10 04:18] #365 closed

[2018-03-12 18:42] ajefts opened #370 "Update Create Project buttons"
@skyhit Can you please update the buttons/links in Direct for creating projects to link to Connect?

This is the link:  https://connect.topcoder.com/new-project/

[2018-03-12 18:43] ajefts opened #371 "Remove VM Management"
Remove the VM Management features from Direct.

[2018-03-13 00:31] skyhit commented on #370
@ajefts  you mean we will not create projects anymore directly in Direct?

[2018-03-13 00:32] skyhit commented on #371
@ajefts a challenge for this?  should DB cleanup be included?

[2018-03-13 02:37] skyhit commented on #371
@ajefts draft challenge spec - https://www.topcoder.com/direct/contest/detail?projectId=30063518

[2018-03-13 02:38] skyhit commented on #370
@ajefts this should be configurable for different environments, right? like for dev?

[2018-03-13 09:52] ajefts commented on #370
Yes, we want to start moving towards Connect as the single place to start projects so we can establish some consistency and focus on Connect as the place to initiate projects, handle estimates and quotes, assign copilots, etc.

For the different envs, yes...there is connect.topcoder.com and connect.topcoder-dev.com

[2018-03-13 09:54] ajefts commented on #371
Yes, a challenge is fine. You can leave the DB tables in place.

[2018-03-13 10:16] skyhit commented on #370
@ajefts I see, I am on it

[2018-03-13 10:22] ajefts commented on #363
@skyhit I'm ok doing it that way to make it more flexible.  Can you start on this?

@cwdcwd any concerns here?

[2018-03-13 10:40] skyhit commented on #363
@ajefts ok, I will

[2018-03-14 02:56] skyhit commented on #370
@ajefts how should we deal with the button when creating challenge? just remove it?
![image](https://user-images.githubusercontent.com/58106/37381084-5624b908-2776-11e8-9c0c-2604fb3a8549.png)

[2018-03-14 04:09] ajefts commented on #370
yes

On Tue, Mar 13, 2018 at 10:56 PM, skyhit <notifications@github.com> wrote:

[2018-03-15 00:44] skyhit opened #372 "Multiple JQuery Version are Used"
@ajefts Maybe it is a good time to unify to one version?

[2018-03-15 01:21] skyhit commented on #370
@ajefts if so, should we remove the Create New Project Wizard completely, like https://www.topcoder.com/direct/createNewProject.action

[2018-03-15 01:34] skyhit commented on #370
@ajefts a F2F challenge to make the link tokenized is launched - https://www.topcoder.com/direct/contest/detail?projectId=30063584

[2018-03-15 15:30] skyhit commented on #370
@ajefts PR created https://github.com/appirio-tech/direct-app/pull/373, let me know your thought.

[2018-03-20 10:23] ajefts commented on #363
reminder on this one @skyhit @cwdcwd. Can we get going on it?  This is something we need to support for hybrid crowds for mid-April.

[2018-03-21 03:11] jmgasper opened #376 "saveDraftContest failing"
I've been seeing this error more and more when launching challenges.  Now I see it every time.  The challenge still seems to launch, but there's a long delay and the error shows up.

![screen_shot_2018-03-21_at_2_06_17_pm](https://user-images.githubusercontent.com/21790/37693133-c5fd2a12-2d11-11e8-8813-8c25243c2dae.jpg)

[2018-03-21 03:26] skyhit commented on #376
@jmgasper ok, will investigate into

[2018-03-21 13:15] ajefts commented on #376
@skyhit I'm seeing this as well now.  Can we put some priority on this one?  Anything I can check for in the logs?

One thing I do see in the logs repeatedly is this:

![image](https://user-images.githubusercontent.com/3812270/37711819-688963ba-2ce8-11e8-9f54-c840d064a419.png)

[2018-03-21 14:08] deedee commented on #376
@ajefts any other exception you've saw? Above exception has been handle and I don't think it was the caused.

[2018-03-21 14:17] skyhit commented on #376
@deedee we used redis cache for local setup, but for dev and prod, we are still using jboss cache, will that be a problem?
 is there any specific reason you created this SortedCacheAddress class?

[2018-03-21 14:18] ajefts commented on #376
I see A LOT of this in the log:

![image](https://user-images.githubusercontent.com/3812270/37714992-3da0e098-2cf1-11e8-81d8-44b2568c85d0.png)

[2018-03-21 15:09] skyhit commented on #376
@jmgasper for that problem, is the challenge created? I am more considering that the backend service has some problem or network issue, since it is 504 status.

[2018-03-21 16:48] birdofpreyru opened #377 "Provide copilots a way to add new tech / platform tags via Direct?"
@skyhit @ajefts imho, it will be very handy :)

[2018-03-21 20:27] jmgasper commented on #376
@skyhit - Yes, the challenge gets created, but the error displays after a noticeable amount of time.

[2018-03-21 20:48] jmgasper opened #379 ""Receive Timeline Change Notifications" checkbox on reposts"
I’ve been noticing on reposts that by default the “Receive Timeline Change Notifications” checkbox in OR is **unchecked**, but on the initial posting the checkbox is **checked**.  This can be confusing to copilots / managers and has caused me to miss things like submissions in F2Fs or changes to phases on code / assembly challenges.

[2018-03-21 22:54] ajefts opened #380 "post mortem phase for code challenges"
Add the post mortem phase for code challenges.  I don't think we have this enabled currently.

[2018-03-21 22:55] ajefts commented on #380
@skyhit Could you take this one?

[2018-03-22 01:27] skyhit commented on #380
@ajefts sure

[2018-03-22 04:45] huangqun commented on #377
+1, please add this! @skyhit @ajefts

[2018-03-22 19:38] cwdcwd commented on #363
![](https://github.trello.services/images/mini-trello-icon.png) [Set points on a challenge](https://trello.com/c/Tf2oj16X/2-set-points-on-a-challenge)

[2018-03-23 09:08] skyhit commented on #376
@jmgasper can not reproduce it.

@ajefts the class cast exception should be fixed. it will be available in next release. but it is not harmful, just logging

[2018-03-23 09:36] jmgasper commented on #376
This has been happening to me about 50% of the time for the last 2-3 weeks.

[2018-03-23 10:06] skyhit commented on #380
@ajefts an F2F challenge is launched for this - https://www.topcoder.com/direct/contest/detail?projectId=30063934

[2018-03-23 10:11] skyhit commented on #376
@jmgasper you used the Save Draft button or Submit button? I tried twice today, but no lucky

[2018-03-23 10:12] jmgasper commented on #376
Submit.  I rarely use the Save Draft button

[2018-03-23 10:13] skyhit commented on #376
@jmgasper ok, I will try to reproduce.

[2018-03-26 01:31] skyhit commented on #377
@ajefts how about we make it at api level, and switch direct app to use related api?

[2018-03-26 03:24] skyhit commented on #380
@ajefts code change is created - https://github.com/appirio-tech/direct-app/pull/381

we do specific logic for Code and F2F challenge type, but this is generally setup at billing account level

[2018-03-28 01:54] skyhit commented on #363
@ajefts @cwdcwd https://www.topcoder.com/direct/contest/detail?projectId=30064062 here is one draft challenge spec, please review and confirm to launch

[2018-03-28 02:03] skyhit commented on #363
@ajefts @cwdcwd for Points type, how should we award (save) the data? are we going to still put into the payments? and with different type?

[2018-04-05 11:47] RiteshTC commented on #183
This error also seem to occur when creating a payment for some users eg sdgun.
![registerissue](https://user-images.githubusercontent.com/5771673/38364163-24004e66-38f5-11e8-8a51-cc6b732e5c6b.png)
During discussion, it appears that the task is checking for First to Finish logic.

[2018-04-05 21:18] #380 closed

[2018-04-11 08:09] NehaSharma02 opened #382 "Order to add Adobe XD"
Adobe XD is a newly launched software application from Adobe systems
It should be added to the list of design software/ final deliverables for use in design challenges.

![image](https://user-images.githubusercontent.com/37835397/38602026-294a59a2-3d87-11e8-9217-1cf3007c13b2.png)

@ajefts

[2018-04-11 19:00] ajefts commented on #363
@skyhit Please launch this one.  Let's also get the corresponding API update done so we can do the front end updates in parallel

[2018-04-13 17:11] ajefts opened #383 "Add effort hours field"
As a user creating/editing a challenge for a topgear group (any group under "Wipro All", including the parent) is able to set a field that captures the # of "Effort Hours".  This field should be labeled "Effort Hours Estimate".  Let's add it to the first page right below the groups dropdown.

![image](https://user-images.githubusercontent.com/3812270/38748469-312d111e-3f1c-11e8-9cc1-7fe4353d9e28.p

[2018-04-14 00:33] skyhit commented on #383
@ajefts this field would be generally required for any group? or specific to some group only?

[2018-04-14 04:50] skyhit commented on #382
@ajefts so we should add `Adobe XD`  and `Axure`, right?

[2018-04-14 13:01] appirio-jenkins commented on #383
It would only be for the Wipro All group hierarchy

[2018-04-16 02:57] skyhit commented on #383
@ajefts if so, how to define the related control? any idea?

[2018-04-16 04:43] skyhit commented on #183
@ajefts @RiteshTC I tested today, it is working, can you provide the detail steps, or a specific challenge to check with?

[2018-04-20 06:37] RiteshTC commented on #183
@skyhit can you check with the specific user mentioned in the screenshot. Seems like a problem with some users ?

[2018-04-20 16:16] ThomasKranitsas opened #384 "Internal review is not working properly"
Sometimes, when I select internal review for a challenge, the number of required reviewers is still 2, as a result, Nikita assigns one more reviewer to my challenge and then I have to contact the reviewer and remove him manually.

[2018-04-23 17:01] ajefts opened #387 "https://www.topcoder.com/direct/payments/overview.action not working"

[2018-04-24 01:13] skyhit commented on #387
@ajefts looks like the path is incorrect, should be `WEB-INF/reports/payments/payment.jsp`

[2018-04-24 15:47] ajefts commented on #383
@skyhit let's make it configurable based on client ID's for now.  i.e. I can configure 1 or more client IDs and when I create a challenge, the Effort Hours field will be available if the billing account rolls up to any of the client IDs

[2018-04-25 05:35] trevorgerring commented on #382
@skyhit We should replace the list that is there with:
Adobe Illustrator
Adobe Photoshop
Adobe XD
Sketch
Axure

We want to make it more software specific, not file format specific. We still want to have the "File Type" feature to add our own.

[2018-04-26 03:36] skyhit commented on #382
@trevorgerring @ajefts check this - https://github.com/appirio-tech/direct-app/pull/388

should we add new file types, or rename the old one?

[2018-04-26 03:59] #387 closed

[2018-04-26 04:03] skyhit commented on #371
done

[2018-04-26 04:03] #371 closed

[2018-04-30 20:48] NehaSharma02 opened #392 "Cancelled challenge scheduling payments for Copilots, Specification Reviewer etc."
A canceled challenge should not PACTs payments for Copilots, Specification Reviewer etc. Payment has been generated and has been manually canceled by the support.

Payments should only be generated for reviewers.

![image 1](https://user-images.githubusercontent.com/37835397/39449379-7a9c95a0-4ce5-11e8-92f6-2dcb130959b0.png)
![image 2](https://user-images.githubusercontent.com/37835397/39449400-8c

[2018-05-01 05:53] RiteshTC commented on #392
cc @ajefts @skyhit

[2018-05-01 15:18] skyhit commented on #383
@ajefts you mean to add a field in client table ?

[2018-05-01 15:37] ajefts commented on #383
I don't have a strong preference on where we put the config, as long as it's something we can change without updating code.

Do we have other config values stored someplace that we could leverage?

[2018-05-03 14:17] skyhit commented on #392
@NehaSharma02 @ajefts can you give me access - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30064543

I can not reproduce it

[2018-05-04 08:17] skyhit commented on #392
@NehaSharma02 @ajefts talked to Copilot for the challenge related to the screenshot, seems the problem is related to custom copilot fee.

can you help check, these challenges, I don't have permissions yet.

[2018-05-04 11:32] JayaDhaka opened #402 "Creating any challenge in Direct fails with error message 'Error occurred. Please retry the operation later.'"
Steps to reproduce:

1. Login Direct.
2. Fill the required fields to create a challenge in an existing project.
3. When a user submits the challenge form an error message popped up" Error occurred. Please retry the operation later" but the challenge does get created.
4. User found the created challenge under gameplan>list.

Please fix this error message issue.

@ajefts @skyhit @RiteshTC

[2018-05-04 13:17] skyhit commented on #402
@JayaDhaka I tried, and it is working for me to create a private task.

[2018-05-04 17:26] NehaSharma02 commented on #392
@skyhit Now please try to access
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30064543

[2018-05-05 01:34] skyhit commented on #392
@NehaSharma02 I can not, my topcoder handle is `FireIce`

[2018-05-07 06:39] jmgasper opened #405 "Creating a task via the API timing out or failing"
I use the challenge API (https://api.topcoder.com/v3/challenges) to POST tasks as part of a web portal I use to manage tasks.  Lately (the last couple weeks), POSTing a task to the endpoint is timing out or failing about 50% of the time.  The response I get back from the server is just an empty string - no error message or any sort of explanation as to why.  Retrying tends to work.

[2018-05-07 06:42] sushilshinde commented on #402
Not exactly same but timeout issue is reported by @jmgasper

https://github.com/appirio-tech/direct-app/issues/405

[2018-05-07 08:05] skyhit commented on #402
@JayaDhaka @sushilshinde @ajefts  how can we easily see the logs from direct app instead of get into the VM instance.

[2018-05-08 15:12] deedee commented on #402
@skyhit it seems ajax timeout. Try to increase the timeout value on https://github.com/appirio-tech/direct-app/blob/dev/src/web/scripts/common.js#L64
But enforce user to wait over than 5' seems bad ux too

[2018-05-10 09:56] JayaDhaka opened #406 "Unable to assign member in Direct task when assigned group is "Wipro-All""
steps to reproduce:

1. Login Direct and open a project.
2. Click on "gameplan" and select "new challenge" option.
3. Fill the required fields.
4. Select "Wipro-All" in the group filed.
5. When a user tries to add a user to the task using the member search lookup field (Assign Members), it is giving an error " statement length exceeds maximum".

Please fix the issue. I have attached the error scre

[2018-05-10 14:30] RiteshTC commented on #392
@skyhit I have added you to the challenge.
I suspect this is occurring when a challenge is reposted for specific status especially zero submissions. Can you try that scenario to see if that produces the error ?

[2018-05-13 12:10] skyhit commented on #406
@JayaDhaka @RiteshTC @ajefts how many group members in `Wipro-All`? this looks like related to query `SELECT user_id, handle FROM user WHERE user_id in (xxx)`, and probably the user ids list too big?

[2018-05-13 12:14] skyhit commented on #392
@RiteshTC can you also give me access to https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30064338, I think for we didn't do special for a repost.

[2018-05-15 10:30] ajefts commented on #406
@skyhit There are there many, many...and it will keep growing.  We need another way to query other than putting the list of user_id's in there.  Can we do something like:

select user_id, handle from user where user_id in (select user_id from user_group_xref and group_id = 2000000)

We'll need to resolve this one quickly.

[2018-05-16 03:39] deedee commented on #406
It would be better if group api return id and handle consecutively, so need to query user handle on other end. If it can't , we can split out the query

[2018-05-16 04:53] skyhit commented on #406
@deedee what do you mean for split out the query?

[2018-05-16 05:48] deedee commented on #406
@skyhit  informix max sql statement is 32000 chars, so we can execute query get user handle -maybe- by 1000 ids to make it safe. (decimal(10) means max length is 10, didn't it?)

[2018-05-16 07:07] skyhit commented on #406
@deedee that is an idea, can you proceed and make the changes as a private task?

[2018-05-16 18:18] trevorgerring opened #409 "Update Design Policies"
I have updated the design policies for Stock Artwork and Fonts. I've also split out "Icons" as a separate policy.

**Stock Artwork**
https://docs.google.com/document/d/19LhtDa79ffnT2YfCF4pZvyMNYIlDnOgAXdiv3tt4ZxQ/edit?usp=sharing

**Fonts**
https://docs.google.com/document/d/16IVaJOqxynF-ZVQGNDS_VZ3WEQleWcSWP7ZGdRx5GHI/edit?usp=sharing

**Icons** (See #410 for "step 2" of having an Icons Policy)
h

[2018-05-17 00:33] NehaSharma02 commented on #392
@skyhit I have added you to the challenge.

[2018-05-18 09:39] JayaDhaka opened #415 "Completed challenges with expired billing account are not visible in Direct"
User can't access completed challenges in Direct because of the expired billing account. Please check and resolve it.

Completed project link: https://www.topcoder.com/direct/contest/detail.action?projectId=30060520
Expired billing account link: https://topcoder.my.salesforce.com/a0U4100000288lV

[projectexception.txt](https://github.com/appirio-tech/direct-app/files/2016294/projectexception.txt)

[2018-05-21 07:31] skyhit commented on #392
@NehaSharma02 I can not figure the root cause. I need to Manager roles to see more data.

can you also give me access to 30064461    30064441?

so I can do more similarity comparison.

one guess is related custom copilot payment. Shall we run a challenge to attempt to reproduce and fix it?

[2018-05-22 20:12] trevorgerring commented on #382
Any updates here. We are telling the design members we are now accepting Adobe XD files for challenges. Would like to actually have that selectable.

[2018-05-22 20:13] trevorgerring commented on #409
@ajefts Any updates here?

[2018-05-23 00:02] skyhit commented on #382
@trevorgerring sorry for late, the implementation is done, we need to test in dev and push to prod.

see https://github.com/appirio-tech/direct-app/pull/411

[2018-05-23 00:06] skyhit commented on #382
@ajefts can you check prod if these id are proper? I was thinking it is in some conflict.

[2018-05-23 20:42] ajefts commented on #415
This  happens when no billing account is set on the project too.

[2018-05-23 20:43] ajefts commented on #415
@skyhit Can you get us a fix for this one?  It seems to be introduced pretty recently.

[2018-05-24 03:30] skyhit commented on #415
@ajefts yes, introduced by the effort hours feature. providing a fix now.

[2018-05-24 09:56] JayaDhaka opened #419 "Change a field text on https://www.topcoder.com/direct/launch/home.action"
Please change the text highlighted in attached screenshot from " Estimated Effort hours" to "Estimated Effort (in Equated offshore hours=onsite hours*6+ offshore hours)" for Topgear challenges only.

![inkedimage_li](https://user-images.githubusercontent.com/34749364/40478386-8edac4ea-5f66-11e8-8bf3-95fac4334d54.jpg)

@skyhit @ajefts

[2018-05-29 09:59] JayaDhaka opened #421 "Scorecard is reset when contest is activated"
A user has noticed that if the default scorecard is changed to other like Data Science Subjective for a contest (code, prototype) and when the contest is activated, the scorecard appears to reset to the default.

Take this contest as example - https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30065701

Please check and resolve.

@skyhit @ajefts

[2018-05-29 20:35] #415 closed

[2018-05-30 01:42] skyhit commented on #419
Closed by #420

[2018-05-30 01:44] skyhit commented on #421
@JayaDhaka so the reproduce steps is like

1. Create a Draft challenge in direct app
2. make changes to the scorecard in online review
3. activate the challenge in Direct app
4. notice the default scorecard is changed,

right?

[2018-05-30 07:41] callmekatootie commented on #421
@skyhit That is correct.

If there are logs, then you can check out this contest for which I remember changing the scorecard to Data Science Subjective - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30065701 but it got reset to the default one

[2018-05-30 19:07] ajefts commented on #419
Per the description, please update the label to "Estimated Effort".  Thanks.

[2018-05-31 06:53] skyhit commented on #421
@JayaDhaka F2F challenge launched for this  - https://www.topcoder.com/direct/contest/detail?projectId=30065876

[2018-05-31 14:56] skyhit opened #424 "Missing Versioning Tag"
![image](https://user-images.githubusercontent.com/58106/40789752-c070d3b8-6525-11e8-9cb7-2b4111a2490d.png)

[2018-05-31 15:49] skyhit opened #425 "Create a Separate JSP File For Footer Scripts"
https://github.com/appirio-tech/direct-app/blob/dev/src/web/WEB-INF/includes/footer.jsp#L54-L70

[2018-05-31 17:43] #425 closed

[2018-05-31 21:31] gurmeetb commented on #421
Could you guide how do I open OR page ? Is it part of Direct App ?

[2018-06-01 03:56] skyhit commented on #421
@gurmeetb no, online review is separated application see https://github.com/appirio-tech/tc-common-tutorials/tree/master/docker/online_review#verification

[2018-06-01 04:04] callmekatootie commented on #421
@gurmeetb You are already familiar with OR - Online Review. It's the same page where you file your appeals. The Url is https://software.topcoder.com

[2018-06-01 23:03] NehaSharma02 commented on #392
@skyhit I have added you to the challenges as a Manager.

[2018-06-02 14:53] skyhit commented on #392
@NehaSharma02 so special clue yet, like https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30064461 is reposted for https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30064311 (I can not access), and for https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30064311, is the copilot payment set? is there anything special

[2018-06-08 07:18] JayaDhaka commented on #421
@callmekatootie I would suggest you to follow the current logic that is to refresh the Direct page after making changes in OR.

[2018-06-08 07:18] #421 closed

[2018-06-16 03:19] RiteshTC opened #428 "Can not set boolean field Enable Effort Hours to null value"
Receiving this error, when trying to associate a new/ existing billing account with any existing project in Direct.

Can not set boolean field com.topcoder.clients.model.Client.enableEffortHours to null value
The error causes the error message "Failed to get Client for Project".
![capture](https://user-images.githubusercontent.com/5771673/41495324-1b13965c-7142-11e8-9c1a-ca0c5bca0113.PNG)

cc @aje

[2018-06-19 02:01] skyhit opened #429 "When Creating A Task Ticket for winterflame"
it failed.

[2018-06-20 03:06] #428 closed

[2018-06-20 03:07] skyhit commented on #428
@RiteshTC the problem should be fixed, @ajefts need to push to prod, if you tested good in dev enviroment.

[2018-06-21 21:06] #419 closed

[2018-06-22 05:29] aah-74 opened #431 "Change a field text on https://www.topcoder.com/direct/contest/detail.action?projectId= page"
The detail page of the Challenge shows text field for Estimated Efforts.
The current field text is Effort Hours Estimate.  Change it to Effort Estimate
![screencapture-topcoder-direct-contest-detail-action](https://user-images.githubusercontent.com/40483249/41759300-5427e81c-760b-11e8-991e-f2bcc3dec0f9.jpg)

[2018-06-25 08:41] aah-74 commented on #431
The data in Tool Tip associated to the field also needs to change.

[2018-06-27 09:00] JayaDhaka opened #434 "Member is not getting the option to update efforts for the challenge In Direct"
While creating the challenge there is no option to enter efforts hours for the challenge.

Please check and fix the issue.

![image001](https://user-images.githubusercontent.com/34749364/41964018-9b5677bc-7a16-11e8-8f97-85385356bd25.png)
![image002](https://user-images.githubusercontent.com/34749364/41964024-9e2a71aa-7a16-11e8-8533-f7541d527562.png)

@skyhit

[2018-06-27 23:14] skyhit commented on #434
@JayaDhaka you mean let the assigned member to update the effort hours? or the challenge creator?

[2018-06-28 12:40] aah-74 commented on #431
Here is the text that the field should display  for both ( new challenge creation form and the overview page)

Effort Estimate ( in Person Days)

For Tool tip please use text below
onsite efforts in person days * 6 + offshore efforts in person days

[2018-06-28 15:00] skyhit commented on #434
@JayaDhaka we are making changes, let me test after deployed in dev environment

[2018-06-29 09:18] aah-74 opened #438 "Potential Load issue for Direct servers"
Wipro users for Topcoder/direct platform are experiencing issues. Page contents are not shown. it gives error message related to Pages are currently not available.
on further checking it seems that its because of the excess load on the server.

PFA couple of screenshots
![29 jun 2018 12 26 pm_30067222](https://user-images.githubusercontent.com/40483249/42084512-7cdfe08e-7bab-11e8-916c-1b6e2d0643d2

[2018-07-02 09:16] JayaDhaka opened #439 "Member is not able to add any handle to project permissions in Direct"
Our member (ahirve) is not able to add any handle like "Geejo" to the project permissions and also not able to assign any handle to any challenge of the project.
Direct project link: https://www.topcoder.com/direct/projectOverview.action?formData.projectId=17905
Please check and resolve.

![image 3](https://user-images.githubusercontent.com/34749364/42155890-3c565968-7e07-11e8-981c-fb084562aa8e.pn

[2018-07-02 21:57] ajefts commented on #439
@cwdcwd @skyhit we need a quick patch for this one.  I don't see the suggest call getting made with a token.  I believe that is the issue.  Can we get this patched asap?

[2018-07-02 22:02] cwdcwd commented on #439
@skyhit pls add in the user's JWT to the `Authorization` header on this call

[2018-07-03 00:51] skyhit commented on #439
@cwdcwd @ajefts I am on it

[2018-07-03 05:44] skyhit commented on #439
fixed, code in dev branch

[2018-07-03 05:44] #439 closed

[2018-07-06 01:50] ajefts commented on #431
@skyhit fyi, for the specific label text.

[2018-07-06 01:52] ajefts opened #443 "Member suggest fields are not working"
we need to pass the auth token to the call.

[2018-07-06 01:52] #443 closed

[2018-07-06 01:52] ajefts commented on #443
fyi @RiteshTC .  This was fixed.

[2018-07-06 03:00] skyhit commented on #431
@ajefts that is implemented, we need to revert the changes for backend.

[2018-07-06 08:55] JayaDhaka opened #445 "Session management issue in Direct"
When a user opens three tickets in Direct in quick succession (like after receiving an email with a list of links from a copilot),th e Direct seems to display the wrong information in some fields, which is info from one of the other tickets that was just opened.

The example below - three different challenges in three different projects. Note that the project shown however is the one from the firs

[2018-07-06 12:18] JayaDhaka opened #446 "Not able to add my handle jaya.dhaka to the Direct project"
I am getting this error " Server error occurred. Please try the operation later" while adding my handle to the below Direct project.

Direct project link is : https://www.topcoder.com/direct/editProject.action?formData.projectId=17526#permissionsNotifications

![image 9](https://user-images.githubusercontent.com/34749364/42378276-607865b2-8144-11e8-98e2-187254d99c0a.png)

Error screenshot:
![image

[2018-07-06 15:12] ajefts commented on #446
@skyhit Here is the log:

11:09:42,867 ERROR [STDERR] java.lang.NullPointerException
11:09:42,867 ERROR [STDERR] 	at com.topcoder.direct.services.view.action.project.edit.SaveCockpitProjectSettingAction.saveProjectPermissionsAndNotifications(SaveCockpitProjectSettingAction.java:735)
11:09:42,867 ERROR [STDERR] 	at sun.reflect.GeneratedMethodAccessor1886.invoke(Unknown Source)
11:09:42,867 ERROR [S

[2018-07-06 19:00] cwdcwd commented on #446
@skyhit it looks like the project permissions coming back from the form are null and thus [this line](https://github.com/appirio-tech/direct-app/blob/a7753a7fb8736d17d2dc692d3dbf2d96843872b1/src/java/main/com/topcoder/direct/services/view/action/project/edit/SaveCockpitProjectSettingAction.java#L735) fails since the list is null?

[2018-07-09 10:06] JayaDhaka opened #447 "Unable to activate challenge in Direct bcs of Not a Number error"
Received NaN error in prize amount while activating this challenge https://www.topcoder.com/direct/contest/detail.action?projectId=30067498. Please check and fix the issue.

Here is the error screenshot:

https://user-images.githubusercontent.com/34749364/42362238-feff1788-810f-11e8-998a-c9de90f36f27.png

@skyhit Please fix this.

[2018-07-09 11:08] skyhit commented on #447
@ajefts I can not access, @JayaDhaka what price did you set?

[2018-07-09 11:11] JayaDhaka commented on #447
@rootelement Can you please shed some light on this issue?

[2018-07-09 12:43] skyhit commented on #446
@cwdcwd @ajefts I will check

[2018-07-09 13:02] rootelement commented on #447
The background is this:
1. Used https://payments.topcoder.com - The payment amount was $350
2. The payment in the payment tool hung with a 504 error
3. I went into direct, saw the challenge in the project as draft. Tried to activate it, but it said it had no description or tags. Added the two main description fields and the two tags fields, then clicked save/activate
4. I saw the pop-up above.
5.

[2018-07-09 20:32] ajefts commented on #431
This has been released.

[2018-07-09 20:32] #431 closed

[2018-07-10 03:10] ajefts commented on #446
resolved.

[2018-07-10 03:10] #446 closed

[2018-07-10 10:02] JayaDhaka opened #449 "Project Owner is not able to see the project in Direct Platform"
If the direct project status is "completed" then the project owner is not able to see the project in Direct Platform.

For eg: I have changed the stage of this project https://www.topcoder.com/direct/editProject.action?formData.projectId=17071 from completed to active to make it visible to all project owners.

@skyhit Please check and resolve.

[2018-07-11 04:19] skyhit commented on #447
@ajefts @JayaDhaka can you give me access to the challenge?

[2018-07-11 07:12] aah-74 commented on #431
@ajefts Can you please check if any calculations are done while the requested label change?

[2018-07-11 15:10] ajefts commented on #431
@aah-74 Yes, we are doing a calc.  Here is the scenario:

We're storing the value in the DB as hours (since we wanted that level of granularity in the platform regardless of what we choose to display in the front end).  So, Direct is now converting the # of days entered into # of hours.  When it reads the value to display it, it converts hours (from DB) to days.  The issue is that for data entered

[2018-07-12 09:14] JayaDhaka commented on #447
@skyhit you can access the challenge now.

[2018-07-12 11:52] skyhit commented on #447
@JayaDhaka still can not, I am getting "Sorry, you don't have permission to access this contest. " page

[2018-07-12 12:09] JayaDhaka commented on #447
@skyhit please check now.

[2018-07-12 12:10] skyhit commented on #447
@JayaDhaka my handle is `FireIce`, not `skyhit`, maybe this is the problem

[2018-07-12 12:13] JayaDhaka commented on #447
@skyhit Yes, you are right. I have added you to the project.

[2018-07-12 12:16] skyhit commented on #447
@JayaDhaka looks like the challenge is already completed?

[2018-07-14 21:47] rootelement commented on #447
Yes, it's not necessarily this challenge, but multiple people hit that same error, and i was the one to capture the actual screenshot, so it's some sort of larger issue between the payment tool, the api, and direct.

[2018-07-16 00:48] cwdcwd commented on #447
@skyhit can you look through the logs for this specific challenge?

[2018-07-16 06:21] skyhit commented on #447
@cwdcwd how can I access the logs? @rootelement are there detail steps to follow to reproduce it?

[2018-07-16 11:45] rootelement commented on #447
Up there: https://github.com/appirio-tech/direct-app/issues/447#issuecomment-403470818

[2018-07-17 06:05] JayaDhaka opened #450 "Bug in Direct"
By default, Direct is generating an email with this domain copilots.topcoder.com for Copilots.

@skyhit Please check and fix this bug.

[2018-07-19 05:42] skyhit commented on #450
@JayaDhaka when did the email sent? I can not find anything here - https://github.com/appirio-tech/direct-app/blob/dev/conf/email_templates/

[2018-07-20 14:30] trevorgerring commented on #409
@ajefts Is this ever going to get updated? I'm just looking for a simple text change and has been sitting for months. We're telling the members of these updates and there is nothing to point them to

[2018-07-20 14:32] trevorgerring commented on #382
@skyhit @ajeft Any updates here? Is there a timeline to push this? It's been sitting for months

[2018-07-20 14:56] cwdcwd commented on #447
@skyhit I've found that if you adjust the prize money, save, and then attempt activation it works.
I'm going to guess that something is not being saved for prizes when the API creates the challenge as opposed to when Direct saves the prizes. Thoughts?

[2018-07-20 15:01] cwdcwd commented on #447
also, it seemed to wipe out the assignee on activation

[2018-07-20 15:02] skyhit commented on #447
@cwdcwd for adjust the prize, you mean do in direct-app?

[2018-07-20 16:19] skyhit commented on #447
@JayaDhaka @cwdcwd I will add debug code for problem reproduce.

[2018-07-20 16:23] skyhit commented on #382
@trevorgerring @ajefts  code is actually ready  https://github.com/appirio-tech/direct-app/pull/411

[2018-07-23 12:47] aah-74 opened #451 "Availability of Direct API to create challenges"
@ajefts
We need to have Direct API to create challenges in Direct platform. Please share if there are any such API available. Please share the API document regarding its usage as well.

If there is no such API available, then we will have to discuss and come up with API ( and its developmental timelines.)
This is essential for DigiQ ( WT system) to integrate with Topcoder flows.

[2018-07-23 13:37] ajefts commented on #451
@aah-74 We do have a challenge API, but let's talk about the use case on our regular call.  It's not ready for public consumption and I'd like to understand how we intend to use it so we can make sure it will be the right fit.  Thanks.

[2018-07-26 06:03] JayaDhaka commented on #450
@sdgun Can you please share your insights with @skyhit on this issue?

[2018-07-27 03:04] sdgun commented on #450
@JayaDhaka @skyhit I think the question is posted in the wrong location. My question was

When I go to the topcoder direct I can see 'Contact Copilot' button associated with the email sdgun@copilots.topcoder.com. Is this a valid email, how can I access it?

![2018-07-26_22-03-12](https://user-images.githubusercontent.com/4592712/43299428-cfd72c64-911f-11e8-8a8c-d5bf236fa068.jpg)

**ritesh_cs** res

[2018-07-28 01:13] ajefts commented on #409
https://help.topcoder.com/hc/en-us/sections/203967808-Design-Copyright-Font-and-Icon-Policies

Help center content updates for stock art and fonts.  Icon policy added to help center.

[2018-07-28 01:13] #409 closed

[2018-08-08 04:00] cwdcwd commented on #447
@skyhit just circling back on this one. anything show up in the logs at all?

[2018-09-07 20:11] ajefts opened #455 "Update default terms"
We are creating a new version of the standard TC terms.  The new terms ID is 21303.

We need to make sure Direct/Challenge API/etc. are updated to apply these terms by default for all new challenges as opposed to the current terms.

[2018-09-07 20:12] ajefts commented on #455
@skyhit think  you could get this one done pretty quick for us?

[2018-09-11 01:40] skyhit commented on #383
@ajefts this should be closed, right?

[2018-09-11 20:54] #383 closed

[2018-09-11 21:03] ajefts commented on #455
@skyhit I created a challenge in direct,  but I don't see the new terms getting applied to the challenge.

challenge id = 30053010

[2018-09-11 23:26] skyhit commented on #455
@ajefts sorry, thought it was a simple change, but seems not,  will look into that today

[2018-09-26 11:47] JayaDhaka opened #459 "Incorrect review style is reflecting in Direct"
For the challenge id : 30071803, User has marked style review as “internal review”. But it is showing differently in below different cases.

After creating challenge, review style in direct challenge is showing as below:
![image003](https://user-images.githubusercontent.com/34749364/46077778-b1ba1500-c1af-11e8-901f-ef7ae02bfb8a.jpg)

On Topcoder challenge page, it is showing as below:
![image005](

[2018-09-27 11:03] #455 closed

[2018-09-27 11:06] ajefts opened #460 "Close submission phase on tasks/F2F when review is done"
When F2F or tasks are closed before the submission phase is closed then the submission phase remains open.  We should make sure we close the submission phase when the challenge is closed.

![image](https://user-images.githubusercontent.com/3812270/46142031-a0aaeb80-c223-11e8-8b00-419a06aba6a2.png)

[2018-09-27 11:06] ajefts commented on #460
@skyhit think you can get this one fixed?

[2018-09-27 14:29] skyhit commented on #460
@ajefts ok, I will work on it.

[2018-10-09 15:08] NehaSharma02 opened #461 "Issues in creating New challenge on latest version of Chrome"
https://www.topcoder.com/direct/launch/home

[2018-10-10 07:36] RiteshTC opened #462 "Marathon Match created in Direct shows up in the Active matches, even if the Status is Draft"
A Marathon Match created in Direct. The status is set to Draft.
https://www.topcoder.com/direct/projectOverview.action?formData.projectId=18893
The match start date is set in past.

The match is shown in active marathon matches in the Contest Page
https://community.topcoder.com/longcontest/?m%20odule=ViewProblemStatement

The contest date has been temporarily set in future to avoid the issue for n

[2018-10-10 08:33] skyhit commented on #461
@NehaSharma02 I got the same error.

[2018-10-10 16:03] ajefts commented on #462
cc:  @cwdcwd

@skyhit Do we need to set the round status and/or round_segment dates in a better way?

[2018-10-11 05:19] RiteshTC commented on #462
It was created with future start and end date. It was created sometime in Sep. Oct 4th was set the Match Start Date

[2018-10-17 09:32] skyhit commented on #462
@RiteshTC @ajefts @cwdcwd
so there is the situation, for active mms, it is just based on the start date and end date, see https://github.com/topcoder-platform/tc-database-scripts/blob/dev/informixoltp/query_tool/query_long_contest_active_contests.txt

probably, we should do

1. When creating from direct app, it should set a non-active status
2. improve the query to only include active status

[2018-10-25 22:32] NehaSharma02 opened #463 "Score Management menu redirects to login page."
Steps to reproduce issue
1. Open the link for Direct (https://www.topcoder.com/direct/enterpriseDashboard/activeContests.action)
2. Click on Admin menu.
3. Click on General sub menu, select Score Management.

This will redirect to Login page.
Please fix it asap.

@ajefts
@RiteshTC

[2018-10-31 01:10] #463 closed

[2018-10-31 01:11] RiteshTC commented on #463
Not a code issue,Restarting app server fixed the issue

[2018-11-14 06:51] JayaDhaka opened #466 "unable to add a member in the Direct project"
Member handle is kk3478
Project link: https://www.topcoder.com/direct/projectOverview.action?formData.projectId=19546

I am not able to add the above handle to the project permissions directly. I have used the client manager option to add this handle in the project. Please check and fix the issue.

![image 27](https://user-images.githubusercontent.com/34749364/48465082-ac6c6480-e807-11e8-88ca-4d6f

[2018-12-12 15:51] ajefts commented on #461
@skyhit Can you run a challenge to get a fix for this one please?  Thanks.

[2018-12-20 06:58] skyhit commented on #461
@ajefts sure.

[2018-12-21 09:44] skyhit commented on #461
@ajefts @NehaSharma02 @RiteshTC I can not reproduce it now, can you retry?

[2019-03-04 19:06] ajefts opened #467 "Direct submissions tab failing"
Now that we are supporting scores with more than 2 decimal places, the submission tab on challenges in Direct is failing.  Please update to handle the precision.

![image](https://user-images.githubusercontent.com/3812270/53756231-a8cc1e80-3e86-11e9-86e3-b3f0b7e5c63c.png)

[2019-03-04 19:07] ajefts commented on #467
@skyhit Do you mind getting a quick fix in for this one please?

[2019-03-11 11:51] Dara-K opened #468 "Download All Button in Direct"
The Download All button from Direct doesn't work to download all submissions, while it worked a few months ago.  Right now on, one of my challenges, it downloaded only 15 submissions out of total 73 and they had some random long names.

![image](https://user-images.githubusercontent.com/25185079/54121955-6c5b6e00-4404-11e9-966e-43071794e5f9.png)

![image](https://user-images.githubusercontent.com/

[2019-03-11 12:24] coderReview commented on #468
@dushyantb can we create a challenge in dev with a lot of submissions?

[2019-03-11 13:56] skyhit commented on #467
@ajefts I will check

[2019-03-11 21:34] ajefts commented on #467
Thanks

[2019-03-13 21:10] ajefts opened #469 "Topgear update for effort capture"
We want to capture efforts separately for onsite and offshore.  So instead of one field to capture efforts, we need 2 fields.

- Estimated Efforts : Offshore ( In Person Days)
- Estimated Efforts : Onsite ( in Person Days)

The fields must only be available to Topgear challenges (based on selecting the topgear billing account).  This is how it's currently implemented for the single field.

**Other

[2019-03-14 00:52] skyhit commented on #469
@ajefts for the existing data, we will still show it?

[2019-03-14 01:43] ajefts commented on #469
No

[2019-03-15 18:56] ajefts commented on #467
@skyhit Do you think you could fix the issue of the submission tab name disappearing?

![image](https://user-images.githubusercontent.com/3812270/54455544-78ac3780-4732-11e9-9655-7e3230c57582.png)

[2019-03-18 11:17] skyhit commented on #467
@ajefts that is interesting, I didn't change any logic

[2019-03-19 03:18] skyhit commented on #469
@ajefts assigned this to @deedee as private task, since he worked on the same logic before. hope we can get it ready soon

[2019-03-19 10:55] ajefts commented on #469
ok, thanks

[2019-03-24 11:57] skyhit commented on #469
@ajefts the implementation is ready - https://github.com/appirio-tech/direct-app/pull/472

[2019-04-04 17:03] cwdcwd commented on #468
@coderReview do it

[2019-04-15 20:54] #469 closed

[2019-04-22 05:32] sanjaytopcoder opened #480 "Irrelevant forums being generated for Marathon match"
When we launch Marathon match, the associated forums being generated are irrelevant. e.g. Design phase, testing phase, development phase. However, most important is Marathon phase questions which are not even there.
Could we look into this?

[2019-04-25 11:59] m-yadav opened #484 "Search bar in Direct gives 504 error"
The search functionality sometimes gives out 504 error in cases where the search query is very generic. This happens due to the query being timed out and hence it returns 504 to the user.
This scenario can be seen when you search for some most common search strings such as "Test" , "Demo" , "Idea" (The list is not exhaustive) etc.

**Steps to Reproduce**
Go to Direct https://www.topcoder.com/direc

[2019-04-28 00:31] skyhit commented on #484
@ajefts @cwdcwd I always getting this, is it possible investigate it more, it seems not just related to direct app, but generally on Topcoder site.

[2019-05-07 17:12] coderReview commented on #183
hello @skyhit @ajefts @RiteshTC  this is happening a lot while creating task in Direct. Is this being worked on? Any error in logs that can help?

[2019-05-07 23:01] skyhit commented on #183
@coderReview seems related to special user, right?

[2019-05-07 23:34] coderReview commented on #183
what do you mean special user?

[2019-05-14 03:06] skyhit commented on #183
@coderReview see above, it seems related to `sdgun` user?

[2019-05-14 04:56] coderReview commented on #183
I saw that happen with more than one user

[2019-05-14 07:58] skyhit commented on #183
@coderReview yeah, that need to be investigated into per user.

[2019-05-24 12:03] coderReview commented on #468
@cwdcwd can we close this one?
@Dara-K deployed to prod. Please try it out. Thanks

[2019-05-24 18:20] Dara-K commented on #468
@Dara-K I tried this for a challenge I close this week and it took me to **503 Service Temporarily Unavailable** page...

[2019-05-24 19:25] coderReview commented on #468
what is the project ID? @Dara-K

[2019-05-24 19:28] Dara-K commented on #468
It's 30091015 @coderReview

https://www.topcoder.com/direct/contest/submissions.action?projectId=30091015&formData.viewType=GRID

[2019-05-29 15:37] ajefts commented on #468
@coderReview It's linking to the old studio app server for design challenges:  https://studio.topcoder.com/?module=DownloadAllSubmissions&ct=30091015&round=final&type=original

[2019-05-29 16:00] coderReview commented on #468
hi @ajefts I thought we fixed that. Will check again

[2019-05-30 15:57] Dara-K commented on #468
@coderReview @cwdcwd

I tested the Download All button in a few challenges these days and it works now perfect. Thank you so much!

I shared the news with our design copilots and they were very excited as well.

Thanks for making our life easier :)
![copilots thank you ](https://user-images.githubusercontent.com/25185079/58645761-a30e9980-830c-11e9-986a-7c77a666a5b0.png)
.

[2019-05-30 23:36] coderReview commented on #468
hi @Dara-K please let us know if you still face any issues. @ajefts @cwdcwd I think we can close this one.

see PR: https://github.com/appirio-tech/direct-app/pull/486

[2019-05-31 08:26] Dara-K commented on #468
@coderReview  It looks good now- in case this comes back, I will let you know - thanks!

[2019-06-03 18:04] Dara-K commented on #468
@coderReview @ajefts

Hi team,

I am baack! It looks like the Download All button functionality has some bugs. I am managing this challenge: https://www.topcoder.com/direct/contest/submissions.action?projectId=30091975&formData.viewType=GRID&formData.roundType=FINAL and when I downloaded the submissions using the Download All button I noticed the following issues:

1. One submission was missing fr

[2019-06-03 18:15] coderReview commented on #468
@ajefts @cwdcwd can you help get some logs?

[2019-06-07 18:04] Dara-K commented on #468
Any update on this? @coderReview  @cwdcwd  @ajefts

[2019-06-07 19:30] coderReview commented on #468
@Dara-K I am waiting for the logs so I can debug the issue.

[2019-06-25 05:58] m-yadav opened #488 "Marathon Match Interface : Unable to associate dates properly"
**Description**
The Marathon Match interface in Direct is insufficient to enter dates properly for our Marathon Matches properly.

The requirement is of multiple dates:

Registration Start
Registration End
Submission Start
Submission End

Whereas we have below setup as of now.
![image](https://user-images.githubusercontent.com/45197181/60072710-f6251200-973b-11e9-8abc-7b4a21866a08.png)

Start affe

[2019-06-25 06:01] m-yadav commented on #488
@ajefts

[2019-06-25 06:14] m-yadav commented on #488
cc @ward-appirio

[2019-06-25 12:21] m-yadav opened #489 "Required challenge extension feature on Direct portal"
This request in on the same lines of the issue. It would be great if this feature can be built along with the below issue

https://github.com/appirio-tech/direct-app/issues/488

**Description**

The challenge manager should get the option to extend phases of the challenges from the direct portal. Mainly Registration and submission phase. This being a very common use case from TopGear contribute to

[2019-06-25 12:21] m-yadav commented on #489
cc @ajefts

[2019-06-26 02:33] coderReview commented on #489
@m-yadav extensions can be done using Online Review tool. Would that be enough for you?

[2019-06-26 12:09] RiteshTC commented on #489
@coderReview
Extensions only work from Online Review tool, when the phase is open. If the phase closes, there is no way to reopen the phase and extend.

[2019-08-21 12:08] ajaysaini9782 opened #496 "Marathon Match Interface : Option not available to add project technology and project platform"
Description
The Marathon Match interface in Direct is insufficient to add project technology and project platform.

There should be input box  to add project technology and project platform while creating the marathon match challenge.

![image](https://user-images.githubusercontent.com/44159743/63422933-ed457980-c428-11e9-98d6-60bb9f514ec2.png)

Our investigation:
Project technology and project pl

[2019-09-06 14:23] #496 closed

[2019-10-29 21:14] Dara-K opened #515 "Changing default payment for private tasks to a lower values doesn't work"
This is an old issue: the prizes in Direct for small tasks can't be updated to lower values than $200. The workaround is to use Online Review. In the last 2 weeks, that didn't work anymore at all as it throws the following  errors in OR and every reduction of payment will have to be handled by support:
Can this be fixed please?
![image](https://user-images.githubusercontent.com/25185079/67809647-c

[2019-11-21 16:38] ajefts opened #516 "Default groups to Wipro-All for Topgear challenges"
If the "Topgear trial" billing account is set on a challenge, then default the groups to "Wipro-All".

The goal is to avoid a topgear challenge accidentally getting launched as a public challenge.

[2020-02-05 13:09] sachin-maheshwari opened #518 "Prevent Topgear challenge to be public by default"
It sets a default group on topgear challenges to prevent them from accidentally going public and exposing private info.

**Testing Instruction** -  we should create several challenges.  One should be using the Topgear billing account.  If the topgear billing account is used, then the group on the challenge should get auto set to "Wipro All".

[2020-02-05 13:10] sachin-maheshwari commented on #518
PR - https://github.com/appirio-tech/direct-app/pull/517

[2020-02-11 10:27] sachin-maheshwari opened #520 "V5 group api changes and add new sub category "Automated Testing""

[2020-02-11 10:31] sachin-maheshwari commented on #520
Fixed in PR https://github.com/appirio-tech/direct-app/pull/514

[2020-02-18 22:11] ajefts opened #523 "Error when assigning user to task with group"
Steps to reproduce:

1. Click Launch Challenge
2. Select F2F and setup a task
3.  Check the Task checkbox
4.  Set a group
5.  Attempt to add a "Assignee".

Results:  An error pops up and I can't add any user.

![image](https://user-images.githubusercontent.com/3812270/74782439-70794800-5271-11ea-8442-149c672b0798.png)

Note:  It seems to work fine if no group is set.

[2020-03-24 11:59] Dara-K commented on #468
Hi team,

It looks like this issue is back: when trying to download the designs submissions from this challenge https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30119995 I got only 25 submissions out of 37 total. Support looked into it and said that because of the large submission file the code is timing out: https://help.topcoder.com/hc/en-us/requests/

[2020-03-24 13:55] coderReview commented on #468
Hi @Dara-K, I know that for Online Review we are moving to submission V5 API. Maybe this should do the same. @ThomasKranitsas @ajefts @cwdcwd

[2020-03-29 11:15] Dara-K commented on #468
Thanks for the reply @coderReview . Any idea when we are moving to V5 API?

Is this something that can be solved meanwhile? if it takes long time to do that.

[2020-04-07 01:06] Schpotsky commented on #523
@ajefts ,
The error occurs when handling the response from the group member search API.
Can you check which group member api is configured in dev environment, and point to its source code ? (The value of this config parameter https://github.com/appirio-tech/direct-app/blob/dev/token.properties.example#L394)
Thanks

[2020-04-08 18:10] ajefts commented on #523
@Schpotsky Here is what I see:

dev:

@memberSearchApiUrl@=https://api.topcoder-dev.com/v3/members/_suggest/
@groupMemberSearchApiUrl@=https://www.topcoder-dev.com/direct/group/member?handle=
@groupMemberApiUrl@=http://api.topcoder-dev.com/v5/groups/%d/members

prod:

@memberSearchApiUrl@=https://api.topcoder.com/v3/members/_suggest/
@groupMemberSearchApiUrl@=https://www.topcoder.com/direct/group/

[2020-04-08 19:23] Schpotsky commented on #523
@ajefts ,
This is a configuration issue in the dev environment.
Please change "@groupMemberApiUrl@=http://api.topcoder-dev.com/v5/groups/%d/members" to "@groupMemberApiUrl@=http://api.topcoder-dev.com/v5/groups/%s/members"
"%d" => "%s"
In Groups V5 API the group ids are strings not integers:
https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupMembershipService.js#L262
ht

[2020-04-08 19:27] ajefts commented on #523
oh, nice catch if that's it!

I'm restarting the dev app with the updated config.  Can you please test in a few minutes to see if that resolves it?

[2020-04-08 19:28] Schpotsky commented on #523
ok, will test in few minutes

[2020-04-08 19:56] Schpotsky commented on #523
The error disappeared now.
But, cannot assign members, one of the following error occur:
-- Getting no suggestion
-- Getting the error 'The form has already been processed or no token was supplied, please try again.'

[2020-04-08 20:08] ajefts commented on #523
hmmm...I see the same.  It seems like when it does find a match it's getting that "already processed" error

[2020-04-08 20:12] Schpotsky commented on #523
Is it possible to get some logs for these errors from the dev environment ?

[2020-04-08 20:35] Schpotsky commented on #523
I see that the error that occurs when getting the group members is swallowed at https://github.com/appirio-tech/direct-app/blob/dev/src/web/scripts/launch/main.js#L390
And it returns 'Problem getting members' error text which is not useful for debugging
It could be changed to propagate the error from the api
error: function(e) {
                      throw e;
                    }

[2020-04-08 21:45] ajefts commented on #523
sure.

[code]

[2020-04-08 21:46] ajefts commented on #523
[code]

[2020-04-09 16:31] Schpotsky commented on #523
I'm working on setting up my local environment with direct-app + mock v5 groups API to make debugging easier

[2020-04-09 17:25] ajefts commented on #523
ok, great.  I think that will be a good investment for cases where we need to work on the legacy JBoss apps

[2020-04-09 19:16] Schpotsky commented on #523
Deployed the direct-app locally + a mock v5 groups API and reproduced the issue locally.
Demo video: https://monosnap.com/file/r1faO4KZPVf0MMp12WbTQVqhRZSWb3

Please check the PR https://github.com/appirio-tech/direct-app/pull/524

Also make sure to update the configuration in dev environment :
"@groupMemberApiUrl@=http://api.topcoder-dev.com/v5/groups/%s/members" , this config parameter should us

[2020-04-09 20:47] ajefts commented on #523
great work @Schpotsky .  I'm going to give this a try in dev and see how it goes

[2020-04-09 20:56] ajefts commented on #523
It works in dev.  Very nice job!

[2020-04-09 21:41] Schpotsky commented on #523
Great!

[2020-04-25 09:04] Dara-K opened #529 "Change Payment for Design F2F Error"
Whenever I create a design F2F task and I try to change the payment from the default $200 to something lower, Direct throws and error that "The prizes cannot be decreased" and then I am updating the prizes in Online Review.

Can this issue be fixed?
https://drive.google.com/file/d/1-Vj_nmH9vByuhpBlx3OHcL7FuPxvVKXy/view?usp=sharing

[2020-04-25 11:59] skyhit commented on #529
@Dara-K as I remember, this was a feature long time ago, after the challenge is activated, you can not decrease the prize:)  to temporarily fix this, you can use Online Review, which does not have this restriction.

[2020-04-25 12:45] Dara-K commented on #529
It's not working before the challenge is activated neither (when setting it up). This is a bug as it used to work before, but now it's a long time since we have to use the work around.

[2020-04-25 14:15] skyhit commented on #529
@Dara-K got it.

[2020-06-04 17:20] jswheeler opened #533 "Update segment script to support user consent"
### Expected behavior
Describe.
The connect app should support the segment 4.1.0 javascript app to support user consent (below).
[code]

Additionally,
The following process should be followed to implement consent manager
https://github.com/segmentio/consent-manager#standalone-script

Specifically:

- The consent code should be included on the same page as this analytics script
- The analytics.load

[2020-07-22 08:36] sanjaytopcoder opened #534 "Access to forums is restricted when a user adds himself as a Wipro Project Manager and ES roles"
When a PM adds himself as a Wipro Project Manager and ES roles, the default access to forums gets revoked. And a PM has to register on the challenge to access the forums.

This has been raised with support multiple times. And looks like its a feature which needs to be changed:
-----------
Hi Sanjay,

Please file a bug report in Direct for the same. Adding self as Wipro PM definitely skips adding t

[2020-07-28 21:25] ajefts opened #535 "Remove "Add New" project button on Launch Challenge page"
Remove the "Add New" button on the following page:

![image](https://user-images.githubusercontent.com/3812270/88723635-38671280-d0f7-11ea-9e3b-ee5dc2db229b.png)

Currently, the button displays a modal allowing a user to create a new project.

[2020-07-31 07:27] vikasrohit opened #537 "Error when calling getSoftwareContestByProjectId"
Following error is thrown when `getSoftwareContestByProjectId` is called against `ContestServiceFacade` EJB.:

[code]

[2020-07-31 12:09] vikasrohit opened #539 "Getting 'Unable to get groups from the API:Bad Request' on challenge load in dev env"
![Screen Shot 2020-07-31 at 5 38 52 PM](https://user-images.githubusercontent.com/2417632/89033590-b8d67f00-d354-11ea-896a-46f2a1aa1ac0.png)

[2020-07-31 12:11] vikasrohit commented on #539
The root cause is that Direct is still making call to the v5 groups api without `membershipType` param which in turn returns 400 from groups api. This is same on production, however, it is not happening for me on production because Direct is treating me as admin/tc-staff on production while not on dev.

[2020-08-03 10:08] vikasrohit commented on #539
fixed via #540

[2020-08-03 10:08] vikasrohit commented on #539
@ajefts @mtwomey can you please take a look and merge the PR?

[2020-08-03 10:15] vikasrohit commented on #537
@ajefts @mtwomey Can you please review and merge the PR #538? We need to merge two more PRs (https://github.com/appirio-tech/temp-maven-repo/pull/12 and https://github.com/appirio-tech/ap-challenge-microservice/pull/543 in order) for fixing the actual issue.

[2020-08-25 11:19] #539 closed

[2020-08-25 13:51] #537 closed

[2020-10-05 16:25] jswheeler commented on #533
@ajefts completed this in prod.

[2020-10-05 16:25] #533 closed

[2020-12-18 17:12] ajefts opened #551 "Make forum creation optional"
During challenge creation, we'd like to allow a flag to be passed in that determines whether or not the challenge forum should be created during the challenge creation process.

If the flag is false, don't create the forum.

[2020-12-18 17:13] ajefts commented on #551
@deedee @Schpotsky @skyhit Would you have any interest in coding this change?

[2020-12-18 17:13] ajefts commented on #551
cc: @rootelement

[2020-12-18 17:35] mtwomey commented on #551
Notes:

1. In this below: This receives the call from Work Manager, it needs to also receive an option to not create the Jive forums.

https://github.com/appirio-tech/ap-challenge-microservice/blob/25ee7903ee710079d5fb1f6371037b30971ce151/src/main/java/com/appirio/service/challenge/resources/ChallengeResource.java#L206

2. In this below: When it calls direct it needs to somehow pass in the option

[2020-12-19 15:47] rootelement commented on #551
@kylewu if you're bored and want to take a look here too :)

[2020-12-19 18:54] Schpotsky commented on #551
@ajefts
I have some other tasks to do now.
I may look into it later when I have some time if still not implemented

[2020-12-21 14:52] kylewu commented on #551
@ajefts how could I test this locally? I remember there is a repo with docker setup

[2020-12-21 15:11] kylewu commented on #551
added https://github.com/appirio-tech/ap-challenge-microservice/pull/549

[2020-12-21 22:09] kylewu commented on #551
@ajefts @rootelement I believe there was an issue with my previous PR: the interface was not updated

@rootelement ap-challenge-microservice needs to upgrade dependency contest_service_facade, otherwise it won't compile

[2020-12-21 23:30] rootelement commented on #551
@kylewu we had merged this to dev, but had to pull it back out. can you make an updated PR?

[2020-12-22 13:21] kylewu commented on #551
@rootelement https://github.com/appirio-tech/direct-app/pull/554 here it is

[2021-01-08 16:57] ajaysaini9782 opened #561 "Wrong standard terms link in direct"
The link to the new terms and conditions in the warning model is not correct - it links to the current project.

Steps to reproduce :
1: Try to add user(which not signed the new terms) for task.
2: Will get the below error.
3: Click on standard terms topcoder competition v3 url.

![image](https://user-images.githubusercontent.com/44159743/104042177-23db8a00-5200-11eb-8d17-8c854e2ea4ba.png)

[2021-03-09 08:44] SurendraYellu opened #562 "User handles not related to Wipro are coming in the search result while adding client manager for TopGear projects"
While adding a client manager to a TopGear project in direct portal, the search result is giving handles with gmail ids.

For example, if mihir.bhuniya to be added as client manager to a project, user searched with the word 'mihir' and got one result. But handle mihir.bhuniya was not there in the search result.

Please restrict the search result with only handles related to Wipro. And also, please

[2021-12-09 09:31] sandhiyakavi opened #564 "Not able to Create new challenges in direct"
Description:

Not able to create new challenges in direct. Getting Server error "The form has already been processed or no token was supplied, please try again"

Design challenge:
![image (16)](https://user-images.githubusercontent.com/55895538/145370398-83332738-76cd-4e7e-8b08-cedc81f6fade.png)

[2021-12-09 09:32] SathyaJayabal commented on #564
Also getting the same for MM challenge

[2021-12-14 05:24] SathyaJayabal commented on #564
adding video

https://user-images.githubusercontent.com/58783823/145938061-ed82fabf-dcb0-48de-a4ce-d38920e7b0f2.mov

[2021-12-14 12:15] sachin-maheshwari commented on #564
@lakshmiathreya as discussed issue is not related to jira-130.

[2021-12-28 15:33] lakshmiathreya commented on #564
Direct is now functional ... regression testing has been resumed ...

[2021-12-28 15:33] #564 closed